เรียน คุณ<%= "#{@shipment.order.ship_address.firstname} #{@shipment.order.ship_address.lastname}" %>


รายการสินค้าที่คุณได้สั่งซื้อ ถูกจัดส่งเรียบร้อยแล้ว

============================================================
สรุปรายการสินค้าที่ได้จัดส่ง
============================================================
<% for item in @shipment.line_items %>
<%=item.variant.sku %> <%=item.variant.product.name%> <%= variant_options(item.variant) %> (<%=item.quantity%>)
<% end %>
============================================================

<%= "รหัสสำหรับติดตามสินค้า: #{@shipment.tracking}" if @shipment.tracking %>
<%= "คุณสามารถติดตามสินค้าได้ที่ http://track.thailandpost.co.th/trackinternet" if @shipment.tracking %>


ขอขอบคุณที่ท่านไว้ใจในบริการของเรา


ด้วยความนับถือ

Teen Star โดย บริษัท ทวีทร จำกัด
<%= root_url %>
อีเมลส์: mktg1@taveetorn.com, mktg3@taveetorn.com
Call center 082-555-4646, 082-555-9696