<% content_for :title, t('frequently_asked_questions') %>

<div id="faqs">
  <% @categories.each do |category| %>
    <div id="<%= dom_id category -%>" class="category">
      <h2><%= h category.name %></h2>
      <ul class="answers">
        <% category.questions.each do |question| %>
          <li>
            <a class="question" id="<%= dom_id question -%>" href="#" onClick="return false;">
              <%= h question.question -%>
            </a>
            <div class="answer" id="<%= "answer_#{question.id}"-%>">
              <%= question.answer %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= content_for :head do %>
  <%= javascript_tag do %>
    $(function() {
      $('.answer').hide();
      $('.question').click(function() {
        var id = $(this).attr('id').split('_')[1];
        $('#answer_' + id).slideToggle();
      });
    });
  <% end %>
<% end %>
