<h1><%= t('unsubscribe_title') %></h1>

<p><%= t('unsubscribe_mail') %>:</p>

<%= form_for @subscriber, :url => unsubscribe_subscriber_path(@subscriber) do |form| %>
  <p>
    <%= form.label t('email') %>
    <%= form.text_field :email, :value => "" %>
  </p>
  <p>
    <%= form.submit t('unsubscribe') %> <%= t('or') %>
    <%= link_to t('cancel'), root_path %>
  </p>
<% end %>