<fieldset>
  <legend><%= t('paysbuy') %></legend>

  <table class="index">
    <tr>
      <th colspan="6"><%= t('paysbuy_details') %></th>
    </tr>
    <tr>
      <td><label><%= t("result") %>:</label></td>
      <td>
        <%= payment.order.paysbuyinfo.result %>
      </td>
      <td><label><%= t("apcode") %>:</label></td>
      <td>
        <%= payment.order.paysbuyinfo.apcode %>
      </td>
      <td><label><%= t("fee") %>:</label></td>
      <td>
        <%= payment.order.paysbuyinfo.fee %>
      </td>
    </tr>
  </table>
</fieldset>

