<% content_for :title, t('email_to_friend.tell_about', :product => @object.name) %>

<%= form_for(@mail_to_friend, :url => "") do |f| -%>
  <%= render "shared/error_messages", :target => @mail_to_friend %>
  <%= hook :send_mail_fields, {:f => f} do %>
  <p>
    <%= f.label(:sender_name, t('email_to_friend.sender_name')) %><br/>
    <%= f.text_field(:sender_name) %>
  </p>
  <p>
    <%= f.label(:sender_email, t('email_to_friend.sender_email')) %><br/>
    <%= f.text_field(:sender_email) %>
  </p>
  <p>
    <%= f.label(:recipient_name, t('email_to_friend.recipient_name')) %><br/>
    <%= f.text_field(:recipient_name) %>
  </p>
  <p>
    <%= f.label(:recipient_email, t('email_to_friend.recipient_email')) %><br/>
    <%= f.text_field(:recipient_email) %>
  </p>
  <p>
    <%= f.label(:message, t('email_to_friend.message')) %><br/>
    <%= f.text_area(:message) %>
  </p>
  <% end %>
  <% if Spree::Captcha::Config[:use_captcha] %>
    <%= recaptcha_tags :public_key => Spree::Captcha::Config[:public_key], :display => {:theme => Spree::Captcha::Config[:theme]} %>
  <% end %>
  <p>
  <button type='submit' class='btn continue'>
    <%= span_tag t('email_to_friend.send_message') %>
  </button>
  </p>
<% end -%>