<table class="index">
  <tr>
    <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
    <th><%= t("description") %></th>
    <th><%= t("amount") %></th>
    <th></th>
  </tr>
  <% @order.adjustments.each do |adjustment|
         @edit_url = edit_admin_order_adjustment_path(@order, adjustment)
         @delete_url = admin_order_adjustment_path(@order, adjustment)
  %>
    <tr id="<%= dom_id(adjustment) %>">
      <td><%= adjustment.created_at.to_s(:date_time24) %></td>
      <td><%= adjustment.label %></td>
      <td><%= adjustment.amount >=0 ? number_to_currency(adjustment.amount) : "-#{number_to_currency(adjustment.amount.abs)}" %></td>
      <td class='actions'>
        <%= link_to_edit adjustment, :class => 'edit' %>
        &nbsp;
        <%= link_to_delete adjustment, {}, :class => 'delete' %>
      </td>

    </tr>
  <% end %>
</table>
