<% content_for :title, t("login_as_existing") %>

<% @body_id = 'login' %>

<div id="existing-customer">
  <%= hook :login do %>
    <%= render :partial => 'shared/login' %>
    
    <% content_for :sidebar do %>
    	<h3 class="header" class="<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>">
    		<%= t("or") %> 
    	</h3>            
    	<div class="block">
    	   	<ul class="add-nav">
    	   		<li><%= link_to t("create_a_new_account"), signup_path %></li>
    	   		<li><%= link_to t("forgot_password"), new_user_password_path %></li>
    	   	</ul>
    	</div>
    <% end %>
  <% end %>
</div>
<%= hook :login_extras %>
