<% @body_id = 'signup' %>

<% content_for :title, t("new_customer") %>

<%= render "shared/error_messages", :target => @user %>

<div id="new-customer">
  
  <%= hook :signup do %>

    <%= form_for(:user, :url => registration_path(@user)) do |f| %>

      <%= hook :signup_inside_form do %>
        <%= render 'shared/user_form', :f => f %>
        <p>
	        <button type='submit' class='btn create'>
	          <%= span_tag t("create")  %>
	        </button>
        </p>
		<% end %>

    <% end %>
    <%= t("or") %> <%= link_to t("login_as_existing"), login_path %>
  <% end %>

</div>

<%= hook :login_extras %>