<% content_for :title, t(@page.title.downcase.gsub(' ','_')) %>

<% content_for :head do %>
  <meta name="title" content="<%=@page.title%>">
<% end %>

<% content_for :sidebar do %>
	<h3 class="header" class="<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>"><%= t(:menu) %></h3>            
	<div class="block">
	   	<ul class="add-nav">
	   		<% Page.sidebar_links.each do |page| %>
	   			<li<%== ' class="current"' if false %>><%= link_to content_tag(:span, t(page.title.downcase.gsub(' ','_'))), page.link %></li>
	   		<% end %>
	    </ul>
		<div class="b"></div>
	</div>
<% end %>

<div id="page_content">
  <%= raw @page.body %>
</div>