<fieldset id='payment' style="width:70%;">
  <% form_tag @gateway.preferred_server do -%>
  <h2><%= t('paysbuy_payment') %></h2>

  <fieldset id="order_details">
    <div class="clear"></div>
    <legend><%= t("confirm_order") %></legend>
    <%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
  <hr />
  
  <p><%= t('paysbuy_instuctional_text') %></p>  
  <%= hidden_field_tag 'psb', @gateway.preferred_psb %>
  <%= hidden_field_tag 'biz', @gateway.preferred_biz %>
  <%= hidden_field_tag 'inv', @order.number %>
  <%= hidden_field_tag 'itm', "#{Spree::Config[:site_name]} Order: #{@order.number}" %>
  <%= hidden_field_tag 'amt', @order.total %>
  <%= hidden_field_tag 'currencyCode', @gateway.preferred_currency_code %>
  <%= hidden_field_tag 'postURL', [gateway_paysbuy_comeback_url(@order),'DR={DR}'].join('?') %>
  <%= submit_tag t('paysbuy_submit') %>
  <% end %>
</fieldset>
