<% @body_id = 'contact_us' %>

<% content_for :title, t("confirm_payment") %>

<div id="contact-us">
  
  <%= hook :contact do %>
  <%= render "shared/error_messages", :target => @contact %>
  <%= form_for(@contact, :html => {:honeypot => true}) do |f| %>
    <%= hook :contact_inside_form do %>
    
    <%= f.hidden_field :topic_id, :value => @topics.first.id %>
    
    <div class="field">
      <%= f.label :name, t("name") %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email, t("email") %><br />
      <% if !current_user.nil? %>
        <%= f.text_field :email, :value => current_user.email %>
      <% else %>
        <%= f.text_field :email %>
      <% end %>
    </div>
    <div class="field" id="order_number">
      <%= f.label :order_number, t("order_number") %> <br />
      <% orders = current_user.orders %>
      <% if !current_user.nil? && orders.count > 0 %>
        <%= f.collection_select :order_number, orders.select {|order| order.payment_state != "paid"}, 
                                :number, :number %>
      <% else %>
        <%= f.text_field :order_number %>
      <% end %>
      
    </div>
    <div class="field">
      <%= f.label :datetime, t("datetime") %><br />
      <%= f.text_field :message %>
    </div>
    <div class="action"><%= f.submit t("send_message"), :class => "button primary" %></div>
    <% end %>
  <% end %>
  <% end %>
</div>

<% content_for :head do %>
  <style type="text/css">
    .ui-timepicker-div .ui-widget-header { margin-bottom: 8px !important; }
    .ui-timepicker-div dl { text-align: left !important; }
    .ui-timepicker-div dl dt { height: 25px !important; margin-bottom: -25px !important; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 65px !important; }
    .ui-timepicker-div td { font-size: 90% !important; }
    .ui-tpicker-grid-label { background: none !important; border: none !important; margin: 0 !important; padding: 0 !important; }  
  </style>
  
  <%= stylesheet_link_tag 'jquery-ui', :media => 'all' %>
  
  <%= javascript_include_tag 'jquery-ui-timepicker-addon' %>
  <script type="text/javascript">
    $(function(){
      $('#contact_message').datetimepicker();
    });
  </script>
      
	<script type="text/javascript">
	//<![CDATA[
	  function check_payment() {
	    var url = '/topics/' + $("#contact_topic_id").val() + '/payment_require';
	    $.get(url, function(data) {
	      if (data) {
	        $("#order_number").show();
	        $("textarea#contact_message").val('<%= t(:payment_message) %>');
	      } else {
	        $("#order_number").hide();     
	        $("textarea#contact_message").val("");        
	      }
	    });
	  }
	  $(document).ready(function() {
	    check_payment();
	  });  
	//]]>
	</script>
<% end %>
