<% @body_id = 'contact_us' %>

<% content_for :title, t("contact_us") %>

<%= hook :contact do %>
  <%= render "shared/error_messages", :target => @contact %>
  <%= form_for(@contact, :html => {:honeypot => true}) do |f| %>
    <%= hook :contact_inside_form do %>
    
    <div class="field span-3 label"><%= f.label :topic_id, t("topic") %></div>   
    <div class="field span-12 last"><%= f.collection_select :topic_id, @topics, :id, :name, {}, {} %></div>
    
    <div class="field span-3 label"><%= f.label :name, t("name") %></div>
    <div class="field span-12 last"><%= f.text_field :name %></div>
    
    <div class="field span-3 label"><%= f.label :email, t("email") %></div>
    <div class="field span-12 last"> 
      <% if !current_user.nil? %>
        <%= f.text_field :email, :value => current_user.email %>
      <% else %>
        <%= f.text_field :email %>
      <% end %>
    </div>
    <div class="field span-3 append-12 label"><%= f.label :message, t("message") %></div>
    
    <%= f.text_area :message %>
    
    <div class="action">
	    <p>
		    <button type='submit' class='btn continue'>
		      <%= span_tag t("send_message") %>
		    </button>
	    </p>
    </div>
    <% end %>
  <% end %>
<% end %>

<%= content_for :head do %>
	<script type="text/javascript" charset="utf-8">
	  function check_payment() {
	    var url = '/topics/' + $("#contact_topic_id").val() + '/payment_require';
	    $.get(url, function(data) {
	      if (data) {
	        $("#order_number").show();
	        $("textarea#contact_message").val('<%= t(:payment_message) %>');
	      } else {
	        $("#order_number").hide();     
	        $("textarea#contact_message").val("");        
	      }
	    });
	  }
	  $(document).ready(function() {
	    check_payment();
	  });  
	</script>
<% end %>