
<fieldset id='billing'>
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend><%= t("billing_address")%></legend>
    <div class="inner">
      <p class="field">&nbsp;</p>
      <p id="bfname" class="field span-18 last">
        <%= bill_form.label :firstname, t(:first_name), :class => "span-3" %>
        <%= bill_form.text_field :firstname, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="blname" class="field span-18 last">
        <%= bill_form.label :lastname, t(:last_name), :class => "span-3" %>
        <%= bill_form.text_field :lastname, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="baddress" class="field span-18 last">
        <%= bill_form.label :address1, t(:street_address), :class => "span-3" %>
        <%= bill_form.text_field :address1, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="baddress2" class="field span-18 last">
        <%= bill_form.label :address2, t(:street_address_2), :class => "span-3" %>
        <%= bill_form.text_field :address2, :class => 'span-8 push-7 last ' %>
      </p>
      <p id="bcity" class="field span-18 last">
        <%= bill_form.label :city, t(:city), :class => "span-3" %>
        <%= bill_form.text_field :city, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <% if Spree::Config[:address_requires_state] %>
        <p class="field span-18 last">
          <span id="bstate">
            <% have_states = !@order.bill_address.country.states.empty? %>
            <%= bill_form.label :state, t(:state), :class => "span-3" %>
            <noscript>
              <%= bill_form.text_field :state_name, :class => 'span-8 push-7 last required' %>
            </noscript>
            <% state_elements = [
               bill_form.collection_select(:state_id, @order.bill_address.country.states,
                                  :id, :name,
                                  {:include_blank => true},
                                  {:class => have_states ? "required" : "hidden",
                                  :disabled => !have_states}) +
                bill_form.text_field(:state_name,
                                  :class => !have_states ? "required" : "hidden",
                                  :disabled => have_states)
                ].join.gsub('"', "'").gsub("\n", "")
            %>
            <script type="text/javascript" language="javascript" charset="utf-8">
            // <![CDATA[
            document.write("<%== state_elements %>");
            // ]]>
            </script>
          </span>
          <span class="req">*</span>
        </p>
      <% end %>
      <p id="bzip" class="field span-18 last">
        <%= bill_form.label :zipcode, t(:zip), :class => "span-3" %>
        <%= bill_form.text_field :zipcode, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="bcountry" class="field span-18 last">
        <%= bill_form.label :country_id, t(:country), :class => "span-3" %>
        <span id="bcountry"><%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'span-8 last required'} %></span>
        <span class="req">*</span>
      </p>
      <p id="bphone" class="field span-18 last">
        <%= bill_form.label :phone, t(:phone), :class => "span-3" %>
        <%= bill_form.text_field :phone, :class => 'span-8 push-7 last required' %><span class="req">*</span>
          </p>
          <% if Spree::Config[:alternative_billing_phone] %>
            <p id="baltphone">
              <%= bill_form.label :alternative_phone, t(:alternative_phone) %>
              <%= bill_form.text_field :alternative_phone %>
            </p>
          <% end %>
    </div>
  <% end %>
</fieldset>
<fieldset id='shipping'>
  <%= form.fields_for :ship_address do |ship_form| %>
    <legend><%= t("shipping_address")%></legend>
    <p class="field checkbox">
   	  <label for="order_use_billing" id="use_billing">
    	<%= check_box_tag 'order[use_billing]', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)), :id => 'use_billing_checkbox' %>
      	<%= t("use_billing_address") %>
      </label>
    </p>
    <div class="inner" id="shipping_address">
      <p id="sfname" class="field span-18 last">
        <%= ship_form.label :firstname, t(:first_name), :class => "span-3" %>
        <%= ship_form.text_field :firstname, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="slname" class="field span-18 last">
        <%= ship_form.label :lastname, t(:last_name), :class => "span-3" %>
        <%= ship_form.text_field :lastname, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="saddress" class="field span-18 last">
        <%= ship_form.label :address1, t(:street_address), :class => "span-3" %>
        <%= ship_form.text_field :address1, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="saddress2" class="field span-18 last">
        <%= ship_form.label :address2, t(:street_address_2), :class => "span-3" %>
        <%= ship_form.text_field :address2, :class => 'span-8 push-7 last' %>
      </p>
      <p id="scity" class="field span-18 last">
        <%= ship_form.label :city, t(:city), :class => "span-3" %>
        <%= ship_form.text_field :city, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <% if Spree::Config[:address_requires_state] %>
        <p class="field span-18 last">
          <span id="sstate">
            <% have_states = !@order.ship_address.country.states.empty? %>
            <%= ship_form.label :state, t(:state), :class => "span-3" %>
            <noscript>
              <%= ship_form.text_field :state_name, :class => 'span-8 push-7 last required' %>
            </noscript>
            <% state_elements = [
                  ship_form.collection_select(:state_id, @order.bill_address.country.states,
                                    :id, :name,
                                    {:include_blank => true},
                                    {:class => have_states ? "required" : "hidden",
                                    :disabled => !have_states}) +
                  ship_form.text_field(:state_name,
                                    :class => !have_states ? "required" : "hidden",
                                    :disabled => have_states)
                ].join.gsub('"', "'").gsub("\n", "")
            %>
            <script type="text/javascript" language="javascript" charset="utf-8">
            // <![CDATA[
            document.write("<%== state_elements %>");
            // ]]>
            </script>
          </span>
          <span class="req">*</span>
        </p>
      <% end %>
      <p id="szip" class="field span-18 last">
        <%= ship_form.label :zipcode, t(:zip), :class => "span-3" %>
        <%= ship_form.text_field :zipcode, :class => 'span-8 push-7 last required' %><span class="req">*</span>
      </p>
      <p id="scountry" class="field span-18 last">
        <%= ship_form.label :country_id, t(:country), :class => "span-3" %>
        <span id="scountry"><%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'span-8 last required'} %></span>
        <span class="req">*</span>
      </p>
      <p id="sphone" class="field span-18 last">
        <%= ship_form.label :phone, t(:phone), :class => "span-3" %>
        <%= ship_form.text_field :phone, :class => 'span-8 push-7 last required' %><span class="req">*</span>
          </p>
          <% if Spree::Config[:alternative_shipping_phone] %>
            <p id="saltphone">
              <%= ship_form.label :alternative_phone, t(:alternative_phone), :class => "span-3" %>
              <%= ship_form.text_field :alternative_phone, :class => 'span-8 push-7 last' %>
            </p>
          <% end %>
    </div>
  <% end %>
</fieldset>

<hr class="space" />
<div class="form-buttons">
  <button type="submit" class="btn continue">
  	<span><%=t("save_and_continue") %></span>
  </button>
</div>

<% content_for :head do %>
	<script type="text/javascript" charset="utf-8">
		(function($){
		  $(document).ready(function(){
			$('#use_billing').change(function(){
				$('#shipping_address').toggle(1000);
			});
			<% unless (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %> 
			$('#shipping_address').toggle();
		  	<% end %>
		  });
		})(jQuery);
	</script>
<% end %> 




