<fieldset id="order_details">
  <div class="clear"></div>
  <legend><%= t(@order.state, :scope => :order_state).titleize %></legend>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
</fieldset>

<hr />

<div class="form-buttons">
<button type="submit" class="btn continue">
	<%= span_tag t("place_order") %>
</button>
</div>
