body,
html {height:100%;}
body {
    margin: 0;
    font: 13px/20px "supermarketRegular", sans-serif; 
    color: #434343;
    background:#fff url(../images/bg-body.jpg) no-repeat 50% 0;
    min-width: 998px;
    text-align:left;
}
a{
    text-decoration:none;
    color: #A0A7AC;
}
a:hover{text-decoration:underline;}
img { border-style: none; }
form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}
input,
textarea,
select {
    font: 100% Arial, sans-serif;
    vertical-align: middle;
}
#wrapper{
    width:974px;
    margin:0 auto;
    position:relative;
    padding:0 0 0 14px;
    min-height:100%;
    overflow:hidden;
}
* html #wrapper{
    height:100%;
    overflow:visible;
}
/* header */
#header{
    position:absolute;
    width:964px;
    left:12px;
    top:0;
    z-index:1;
}
.header-holder{
    height:107px;
    overflow:hidden;
    padding:1px 0 10px 53px;
}
/* header area */
#header .area{float:right;}
/* language */
#header .language{
    float:left;
    list-style:none;
    margin:0;
    padding:0 0 12px 49px;
    text-align:center;
}
#header .language li{
    float:left;
    background: url(../images/separator-language.gif) no-repeat 0 6px;
    padding:0 7px 0 8px;
}
#header .language li.first-child,
#header .language li:first-child{background:none;}
#header .language a{color:#fff;}
/* small-cart */
.small-cart{
    float:left;
    clear:both;
}
.price-block{
    width:184px;
    overflow:hidden;
    position:relative;
    margin:0 0 5px;
}
.price-block .holder{
    position:relative;
    float:left;
    left:50%;
}
.price-block .frame{
    position:relative;
    float:left;
    left:-50%;
}
.small-cart .price-box{
    background: url(../images/bg-small-cart-price-l.png) no-repeat;
    height: 42px;
    padding:0;
    margin:0;
    position:relative;
    float:left;
}
.small-cart .price-block .r{
    float:left;
    background: url(../images/bg-small-cart-price-r.png) no-repeat;
    width: 20px;
    height: 42px;
    text-indent:-9999px;
    overflow:hidden;
    line-height:0;
}
.small-cart .regular-price{
    float:left;
    position:relative;
}
.small-cart .price{
    float:left;
    font-size:30px;
    color:#fff;
    font-weight:bold;
    position:relative;
    padding:11px 7px 0 25px;
}
.small-cart .price .cufon{float:left;}
.cufon-active .small-cart .price{
    padding:7px 7px 0 25px;
    line-height:30px;
}
.small-cart .message{
    position:relative;
    font-size:15px;
    line-height:18px;
    color:#fff;
    padding:0 0 0 9px;
    float:left;
}
.small-cart .message img{
    left:-16px;
    position:absolute;
    top:-13px;
}
.small-cart .message a{
    background: url(../images/bg-header-message.png) no-repeat;
    float:left;
    padding:4px 0 6px 10px;
    color:#fff;
    font-weight:bold;
}
.small-cart .message a .cufon{
    float:left;
    padding:0 0 1px;
}
.small-cart .message a:hover .cufon{border-bottom:1px solid #fff;}
.cufon-active .small-cart .message a:hover{text-decoration:none;}
.cufon-active .small-cart .message a{
    padding:7px 10px 6px 18px;
    line-height:15px;
    word-spacing:-1px;
}
.small-cart .message .r{
    background: url(../images/bg-header-message-r.png) no-repeat;
    width: 22px;
    height: 28px;
    float:left;
}
.logo{
    position:absolute;
    width: 231px;
    height: 66px;
    text-indent:-9999px;
    overflow:hidden;
    margin:0;
    top:33px;
    left:65px;
    z-index:2;
}
#header .logo {
    left:53px;
}
.logo a{
    float:left;
    height:100%;
    width: 231px;
    background:url(../images/bg-logo.png) no-repeat;
}
.logo a:hover{cursor:pointer;}
/* main-nav */
#main-nav{
    list-style:none;
    margin:0 0 0 22px;
    padding:0;
    font-size:18px;
    line-height:22px;
    height:1%;
    overflow:hidden;
}
* html .cufon-active #main-nav{line-height:18px;}
#main-nav li{
    float:left;
    background: url(../images/separator-main-nav.gif) no-repeat 0 50%;
    padding:6px 2px 6px 3px;
    margin:0 1px 0 -1px;
}
#main-nav a{
    float:left;
    color:#4e5259;
}
#main-nav .active a{color:#db1967;}
#main-nav span{
    background: url(../images/bg-main-nav.png) no-repeat;
    float:left;
    padding:6px 0 6px 16px;
    height:22px;
}
#main-nav .r{
    background: url(../images/bg-main-nav-r.png) no-repeat;
    width: 14px;
    height: 34px;
    padding:0;
}
#main-nav a:hover{text-decoration:none;}
#main-nav a:hover span{background: url(../images/bg-main-nav-hover.png) no-repeat;}
#main-nav a:hover .r{background: url(../images/bg-main-nav-hover-r.png) no-repeat;}
#main-nav .cufon{
    float:left;
    margin:3px 0 0;
    padding:0 0 1px;
}
/* main */
#main{
    padding:172px 12px 233px;
    width:950px;
}
#main:after{
    content:"";
    display:block;
    clear:both;
}
/* container */
#main .container{
    background: url(../images/bg-container.png) no-repeat;
    width: 951px;
    padding:0 8px 0 0;
    height: 326px;
    margin:0 0 9px;
}
/* container side */
#main .container .side{
    background: url(../images/carousel-side-bg.gif) no-repeat;
    width: 291px;
    height: 245px;
    padding:62px 0 10px 12px;
    float:left;
    overflow:hidden;
    position:relative;
}
#main .container .line{
    background: url(../images/bg-side-line.png) no-repeat;
    width: 2px;
    height:100%;
    position:absolute;
    left:297px;
    top:7px;
    z-index:2;
}
#main .container .nav{
    list-style:none;
    margin:0;
    padding:0;
    font-size:18px;
    line-height:22px;
    overflow:hidden;
}
#main .container .nav li{
    float:left;
    width:256px;
    border-top:1px solid #d35588;
    margin:-1px 0 1px;
}
#main .container .nav a{
    color:#fff;
    display:block;
    margin:0 -35px 0 0;
    padding:6px 16px 7px;
    width:259px;
    overflow:hidden;
    position:relative;
}
.cufon-active #main .container .nav a{
    padding:9px 16px 8px;
    line-height:18px;
}
#main .container .nav a cufon{float:left;}
#main .container .nav a.current,
#main .container .nav a:hover {
    background:#95103f;
    text-decoration:none;
}


/* gallery */
.gallery{
    float:right;
    width:646px;
    height:317px;
    position:relative;
}
.gallery ul{
    list-style:none;
    margin:0;
    padding:0;
}
.gallery li{
    width:646px;
    height:317px;
}
.gallery li img{
    position:absolute;
    left:0px;
    top:0px;
    width:646px;
    height:317px;
}


/* main-holder */
.main-holder{height:1%;}
.main-holder:after{
    content:"";
    display:block;
    clear:both;
}
/* main-holder column */
.main-holder .column{
    float:left;
    width:547px;
    padding:0 0 0 29px;
}
/* boxes */
.boxes{
    width: 569px;
    margin:0 0 29px -33px;
    position:relative;
}
.boxes .b,
.boxes .t{
    background: url(../images/bg-boxes-t.png) no-repeat;
    height: 15px;
    line-height:0;
    text-indent:-9999px;
    overflow:hidden;
    font-size:0;
    width: 569px;
}
.boxes .b{
    background: url(../images/bg-boxes-b.png) no-repeat;
    height:15px;
}
.boxes .c{
    background: url(../images/bg-boxes-c.png) repeat-y;
    width: 569px;
}
.boxes .c:after{
    content:"";
    display:block;
    clear:both;
}
.boxes-content{
    float:left;
    position:relative;
    margin:-15px -8px -15px 0;
    padding:0 0 23px 1px;
    width: 576px;
}
/* boxes box */
.boxes .box{
    float:left;
    width:149px;
    margin:0 15px 0 0;
    padding:14px 14px 32px;
}
.colection .image,
.boxes .image{
    margin:0 0 9px;
    width:149px;
    position:relative;
}
.colection .image img,
.boxes .image img{display:block;}
.colection .coast,
.boxes .coast{
    position:absolute;
    right:-21px;
    top:12px;
    list-style:none;
    margin:0;
    padding:0;
    z-index:1;
}
* html .boxes .coast{right:-22px;}
.colection .coast li,
.boxes .coast li{
    float:right;
    margin:0 0 -5px;
    position:relative;
    width:auto;
    height:auto;
    border:0;
    padding:0;
    clear:both;
}
.colection .coast .price-box,
.boxes .coast .price-box{
    background:#db1967;
    float:left;
    padding:6px 4px 8px 6px;
}
.colection .mark2 .price-box,
.boxes .mark2 .price-box{background:#94ac2c;}
.colection .mark3 .price-box,
.boxes .mark3 .price-box{background:#ea1818;}
.colection .mark4 .price-box,
.boxes .mark4 .price-box{background:#2a89c5;}
.colection .coast .price,
.boxes .coast .price{
    font-size:16px;
    line-height:19px !important;
    color:#fff;
    float:left;
}
.colection .coast .r,
.boxes .coast .r{
    background: url(../images/bg-boxes-coast-r.png) no-repeat;
    width: 6px;
    height: 39px;
    text-indent:-9999px;
    overflow:hidden;
    line-height:0;
    font-size:0;
    float:left;
}
.colection .mark2 .r,
.boxes .mark2 .r{background: url(../images/bg-boxes-coast2-r.png) no-repeat;}
.colection .mark3 .r,
.boxes .mark3 .r{background: url(../images/bg-boxes-coast3-r.png) no-repeat;}
.colection .mark4 .r,
.boxes .mark4 .r{background: url(../images/bg-boxes-coast4-r.png) no-repeat;}
.boxes .coast .before .price,
.colection .coast .before .price{text-decoration:line-through;}
.new{
    background: url(../images/bg-new.png) no-repeat;
    width: 48px;
    height: 48px;
    position:absolute;
    right:-11px;
    top:-27px;
    text-indent:-9999px;
    overflow:hidden;
    font-size:0;
    line-height:0;
    z-index:3;
}
.colection .title,
.boxes .title{
    color:#1e8cac;
    line-height:14px;
    display:block;
    text-align:center;
}
.colection .title a,
.boxes .title a{
    color:#1e8cac;
    position:relative;
}
.boxes .button-holder{
    position:absolute;
    bottom:19px;
    width:149px;
}
.boxes .button-holder span{
    float:left;
    position:relative;
    left:50%;
}
.boxes a.button{
    float:left;
    background: url(../images/bg-boxes-button.gif) no-repeat;
    position:relative;
    color:#fff;
}
.boxes a.button:hover{cursor:pointer;}
.boxes a.button:hover strong{text-decoration:underline;}
.boxes .button2{background-position:0 -25px !important;}
.boxes .button3{background-position:0 -50px !important;}
.boxes .button-holder .button{left:-50%;}
.boxes .button strong{
    float:left;
    padding:2px 10px 3px 9px;
    background: url(../images/bg-boxes-button.gif) no-repeat 100% -75px;
}
.boxes .button2 strong{background-position:100% -100px;}
.boxes .button3 strong{background-position:100% -125px;}
#main h2.title{
    color:#7c9625;
    font-size:28px;
    line-height:35px;
    font-weight:normal;
    margin:0 0 5px;
    height:1%;
}
#main h2.title:after{
    content:"";
    display:block;
    clear:both;
}
#main h2 span{
    float:left;
    margin:0 7px 0 0;
}
.cufon-active #main h2 span{margin-top:1px;}
#main h2.title strong{
    color:#db1967;
    font-size:35px;
    line-height:39px;
    float:left;
    margin:0 5px 0 0;
}
.cufon-active #main h2.title strong{
    margin-top:-3px;
    position:relative;
    line-height:35px;
}
#main h2.title .cufon{
    float:left;
    padding: 0 0 4px;
    margin:4px 0 0;
}
.cufon-active #main h2.title {
    line-height:35px;
}
#main .column p{margin:0 0 9px;}
/* mail-form */
.mail-form fieldset{
    height:1%;
    overflow:hidden;
    width:475px;
    margin:0 0 0 -6px;
    padding:4px 0 0;
}
.mail-form .text{
    background: url(../images/bg-mail-form-text.png) no-repeat;
    width: 345px;
    height: 45px;
    margin:0 3px 0 0;
    padding:0 12px;
    float:left;
    display:inline;
}
.mail-form .text input{
    padding:13px 0 16px;
    line-height:16px;
    height:16px;
    font-weight:bold;
    color:#2a89c5;
    float:left;
    border:0;
    width: 345px;
    position:relative;
    background: url(../images/transparent.gif) no-repeat;
}
.mail-form .submit{
    background: url(../images/bg-mail-form-submit.png) no-repeat;
    width: 102px;
    height: 45px;
    border:0;
    padding:0 0 3px;
    float:left;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}
/* main-holder aside */
.main-holder .aside{
    float:right;
    padding:7px 0 0;
    width:337px;
}
/* promo-facebook */
.promo-facebook{
    position:relative;
    height:310px;
    margin:0 0 6px -27px;
    width:364px;
}
.promo-facebook .link-holder{
    position:absolute;
    top:0;
    left:250px;
    background: url(../images/bg-facebook-link-holder.png) no-repeat;
    width: 79px;
    height: 68px;
    padding:23px 0 0 10px;
}
.facebook{
    background: url(../images/btn-facebook.gif) no-repeat;
    width: 84px;
    height: 22px;
    text-indent:-9999px;
    overflow:hidden;
    display:block;
}
.promo-facebook .visual1{
    left:9px;
    position:absolute;
    top:15px;
    z-index:2;
}
.promo-facebook .visual1 .arrow{
    background: url(../images/bg-arrow1.png) no-repeat;
    width: 53px;
    height: 45px;
    right:-50px;
    top:38px;
    z-index:1;
}
.promo-facebook .visual2{
    left:128px;
    position:absolute;
    top:109px;
}
.promo-facebook .arrow{
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
}
.promo-facebook .visual2 .arrow{
    background: url(../images/bg-arrow2.png) no-repeat;
    width: 17px;
    height: 42px;
    right:47px;
    top:-36px;
}
/* testimonial */
.testimonial{
    background: url(../images/bg-testimonials.png) no-repeat;
    width: 350px;
    padding:0 0 0 2px;
    margin:0 -13px 0 -2px;
}
.columns .testimonial{margin:0 -70px 0 12px;}
.testimonial:after{
    content:"";
    display:block;
    clear:both;
}
.testimonial q{
    quotes: none;
    background: url(../images/bg-testimonial-quote.png) no-repeat;
    position:relative;
    width:314px;
    margin:-14px 0 0 -2px;
    display:inline;
    padding:55px 18px;
    float:left;
    line-height:19px;
}
.columns .testimonial q{
    margin:-14px 0 0 -11px;
    padding-left:24px;
    width:301px;
}
.testimonial q .r{
    background: url(../images/bg-testimonial-quote-r.png) no-repeat;
    width: 46px;
    height: 41px;
    position:absolute;
    bottom:17px;
    right:7px;
}
.testimonial q:before{content:"";}
.testimonial q:after{content:"";}
/* main-block */
.main-block{
    background: url(../images/bg-main-block.png) no-repeat;
    width: 955px;
    overflow:hidden;
    padding:0 0 9999px;
    margin:0 -5px -9999px 0;
}
.main-block2{
    background: url(../images/bg-main-block2.png) no-repeat;
    width: 955px;
    overflow:hidden;
    padding:0 0 9999px;
    margin:0 -5px -9999px 0;
}
/* sidebar */
#sidebar{
    width: 188px;
    float:left;
    position:relative;
}
/* sidebar heading */
#sidebar .heading{
    background: url(../images/bg-sidebar-heading.png) repeat;
    margin:0;
    font-size:20px;
    line-height:24px;
    font-weight:normal;
    padding:23px 29px 22px;
    overflow:hidden;
    height:1%;
}
.cufon-active #sidebar .heading{line-height:20px;}
#sidebar .heading a{
    color:#3c3c36;
    float:left;
}
#sidebar .heading a:hover{
    text-decoration:none;
    border:0;
}
#sidebar .heading span{
    float:left;
    padding:0 0 1px;
}
#sidebar .heading a:hover span{
    border-bottom:1px solid #3c3c36;
    padding:0;
}
#sidebar .heading .arrow{
    background: url(../images/bg-sidebar-arrow.png) no-repeat;
    width: 12px;
    height: 10px;
    text-indent:-9999px;
    overflow:hidden;
    font-size:0;
    line-height:0;
    margin:8px 0 0 9px;
    padding:0;
    border:0 !important;
}
#sidebar .heading .cufon{
    float:left;
    margin:3px 0 0;
}
/* sidebar block */
#sidebar .block{
    width:188px;
    margin:0 0 -7px;
    position:relative;
}
/* add-nav */
#sidebar .add-nav{
    background:#fff;
    list-style:none;
    margin:0;
    padding:0 12px 0 10px;
    font-size:14px;
    line-height:18px;
    width:166px;
    overflow:hidden;
    border-top:1px solid #fff;
    position:relative;
}
#sidebar .add-nav li{
    float:left;
    width:100%;
    border-top:1px solid #e0dfd4;
    position:relative;
    margin:-1px 0 0;
}
#sidebar .add-nav a{
    padding:14px 28px 13px;
    float:left;
    color:#3c3c36;
    width:132px;
    margin:0 -12px 0 -10px;
    position:relative;
}
#sidebar .add-nav a:hover{
    background:#dce672;
    text-decoration:none;
}
#sidebar .add-nav .active a{background:#dce672 url(../images/bg-add-nav-active.gif) no-repeat 100% 0 !important;}
#sidebar .block .b{
    background: url(../images/bg-block-b.png) no-repeat;
    width: 187px;
    height: 7px;
    text-indent:-9999px;
    overflow:hidden;
    font-size:0;
    line-height:0;
}
/* sidebar search */
.search fieldset{
    background:#fff;
    height:1%;
    overflow:hidden;
    padding:18px 20px 22px 25px;
}
.search ul{
    float:left;
    width:65px;
    padding-right:6px;
}
.search ul li{
    float:left;
    width:100%;
    margin:0 0 -1px;
}
.search ul .radio{
    width:16px;
    height:15px;
    margin:2px 5px 0 0;
    float:left;
}
.search ul label{
    float:left;
    color:#3c3c36;
    font-weight:normal;
    font-size:14px;
}
/* content */
#content{
    float:right;
    width:687px;
    padding:0 39px 0 33px;
    overflow:hidden;
    position:relative;
}
#content4{
    float:right;
    width:875px;
    padding:0 39px 0 33px;
    overflow:hidden;
    position:relative;
}
/* content heading */
#content .heading{
    background: url(../images/bg-content-heading.jpg) no-repeat;
    width: 694px;
    height: 24px;
    margin:0 -44px 15px -33px;
    position:relative;
    overflow:hidden;
    padding:23px 29px 22px;
}
#content4 .heading{
    background: url(../images/bg-content-heading4.jpg) no-repeat;
    width: 884px;
    height: 24px;
    margin:0 -44px 15px -33px;
    position:relative;
    overflow:hidden;
    padding:23px 29px 22px;
}
#content .heading h1, #content4 .heading h1{
    font-size:20px;
    font-weight:normal;
    line-height:24px;
    color:#fff;
    margin:0;
}
#content .heading2{background: url(../images/bg-content-heading2.jpg) no-repeat;}
#content .heading3{background: url(../images/bg-content-heading3.jpg) no-repeat;}
.cufon-active #content .heading h1, .cufon-active #content4 .heading h1{line-height:20px;}
#content .heading .cufon, #content4 .heading .cufon{
    float:left;
    margin:3px 0 0;
}
#content .heading .price-box{
    background: url(../images/bg-heading-price.png) no-repeat;
    width: 148px;
    height: 61px;
    float:right;
    padding:0;
    margin:-17px -3px -21px;
    display:inline;
}
#content .heading .regular-price{
    float:left;
    position:relative;
    left:50%;
}
#content .heading .price{
    color:#3c3c36;
    font-size:28px;
    line-height:31px;
    font-weight:normal;
    float:left;
    text-align:center;
    padding:12px;
    position:relative;
    left:-50%;
}
/* breadcrumbs */
.breadcrumbs{
    margin:0;
    padding:0 0 18px;
    list-style:none;
    width:100%;
    overflow:hidden;
    color:#9e9e9a;
    font:11px/14px Tahoma, Arial, sans-serif;
}
.breadcrumbs li{
    float:left;
    background: url(../images/bg-breadcrumbs.gif) no-repeat 100% 5px;
    padding:0 10px 0 4px;
    margin:0 4px 0 -4px;
}
.breadcrumbs a{color:#999 !important;}
#content h2{
    color:#6b6a5e;
    font-size:20px;
    line-height:24px;
    height:1%;
    margin:0 0 24px;
    padding:13px 0 0;
    overflow:hidden;
    font-weight:normal;
}
#content h2 .cufon{
    float:left;
    margin:1px 0 0;
}
.cufon-active #content h2{line-height:20px;}
.content-image{
    border:1px solid #d0d0d0;
    padding:8px;
    float:right;
    margin:-16px 5px 10px 20px;
    position:relative;
}
#content p{margin:0 0 20px;}
.wrap:after{
    content:"";
    display:block;
    clear:both;
}
.anne{
    background: url(../images/bg-anne.gif) no-repeat;
    width: 71px;
    height: 30px;
    text-indent:-9999px;
    overflow:hidden;
    display:block;
    margin:3px 0 45px 2px;
}
/* facebook-block */
.facebook-block{
    height:1%;
    overflow:hidden;
}
.facebook-block img{display:block;}
#content .columns .facebook-block{margin:0 0 43px;}
.content-message{
    border:1px solid #e69db6;
    display:block;
    padding:9px 16px 11px;
    margin:0 0 19px;
}
.content-message span{color:#4cbbc2;}
/* shopping-cart */
.shopping-cart{
    border:0;
    margin:0 0 55px;
}
.shopping-cart .odd{background:#fff;}
.shopping-cart thead tr th{
    background:#75cad0;
    color:#fff;
    padding:9px 16px 11px;
}
.shopping-cart tbody td,
.shopping-cart th{border:0;}
.shopping-cart thead th.first-child,
.shopping-cart thead th:first-child{border-left:1px solid #75cad0;}
.shopping-cart tbody th.last{border-right:1px solid #75cad0;}
.shopping-cart tbody td.first-child,
.shopping-cart tbody td:first-child{border-left:1px solid #d5d5d5;}
.shopping-cart tbody td.last{border-right:1px solid #d5d5d5;}
.shopping-cart tbody tr.last td,
.shopping-cart tbody tr td{
    padding:16px;
    border-bottom:1px solid #d5d5d5 !important;
}
.shopping-cart img{display:block;}
.shopping-cart h4 a{color:#4984b7;}
.shopping-cart .price{
    font-size:16px;
    padding:0 5px 0 0;
}
.shopping-cart tfoot tr.first,
.shopping-cart tfoot tr{
    background:#fff !important;
}
.shopping-cart tfoot tr td{
    border:0;
    padding:5px 0 0;
}
.shopping-cart tfoot tr.last td{border-top:1px solid #d5d5d5;}
/* shopping-cart totals */
.shopping-cart .totals table{width:100%;}
.shopping-cart .totals tbody td,
.shopping-cart .totals tbody td{border:0 !important;}
.shopping-cart select{
    width:auto;
    margin:0 0 0 3px;
}
.shopping-cart .totals table tr td{padding:0 0 10px;}
.shopping-cart .totals .price{
    display:block;
    padding:0 20px 0 5px;
    text-align:center;
}
.shopping-cart .form-button-alt{
    background: url(../images/bg-form-button-alt.gif) no-repeat;
    width: 134px;
    height: 31px;
    text-align:center;
    border:0;
    color:#847a7a;
    float:right;
    margin:0 12px 0 0;
    display:inline;
    cursor:pointer;
}
.shopping-cart .continue-shopping{float:left;}
.shopping-cart tfoot tr td.last{padding:12px 0 0;}
/* colection */
.colection{
    width:717px;
    list-style:none;
    margin:0 -22px 16px 0;
    padding:0;
}
.colection:after{
    content:"";
    display:block;
    clear:both;
}
.colection li{
    display:inline-block;
    padding:14px 15px;
    border:1px solid #f1f0f0;
    margin:0 19px 20px 0;
    vertical-align:top;
}
* html .colection li{
    display:inline;
    margin-right:22px;
}
.colection .image{
    border:1px solid #d0d0d0;
    width:183px;
}
.colection .coast{right:-23px;}
* html .colection .coast{right:-24px;}
/* switcher-block */
.switcher-block{
    width:100%;
    position:relative;
    overflow:hidden;
}
.switcher-block .t{
    background: url(../images/bg-switcher.png) no-repeat;
    width: 688px;
    height: 9px;
    position:absolute;
    top:0;
    z-index:2;
    left:0;
}
.switcher-block .holder{
    position:relative;
    left:50%;
    float:left;
    z-index:1;
    padding:0 0 0 8px;
}
.switcher-block ul{
    position:relative;
    left:-50%;
    float:left;
    padding:0 0 6px;
    font-size:17px;
}
.switcher-block ul li{
    float:left;
    padding:0 2px;
}
.switcher-block ul a{
    color:#707678;
    float:left;
    width:24px;
    padding:5px 3px;
    text-align:center;
    background:#efefef;
}
.switcher-block ul .active a,
.switcher-block ul a:hover{
    color:#fff;
    padding-bottom:11px;
    margin:0 0 -6px;
    position:relative;
    background:#cbe678;
    text-decoration:none;
}
/* content columns */
#content .columns{
    float:none;
    width:690px;
    margin:0 -3px 0 0;
    position:relative;
}
#content .columns:after{
    content:"";
    display:block;
    clear:both;
}
#content .columns .column{
    float:left;
    width:341px;
}
/* gallery2 */
.gallery2{width:341px;}
.gallery2 .mask{
    position:relative;
    overflow:hidden;
    width:341px;
}
.gallery2 ul{
    list-style:none;
    margin:0;
    padding:0 0 9px;
    width:9999px;
    overflow:hidden;
}
.gallery2 ul li{
    width:341px;
    float:left;
}
.gallery2 .mask ul{
    width: 341px;
    height: 341px;
    position: relative;
}
.gallery2 .mask ul li{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #fff;
}
.gallery2 .mask ul li.active{
    z-index: 2;
}
.gallery2 img{
    display:block;
    border:1px solid #d9d9d9;
}
.gallery2 .switcher{
    width:341px;
    overflow:hidden;
}
.gallery2 .switcher li{
    width:80px;
    margin:0 7px 0 0;
    display:inline;
}
/* columns side */
#content .columns .side{
    float:right;
    width:321px;
    padding:12px 0 0;
}
/* columns list */
#content .columns .list{
    list-style:none;
    margin:0;
    padding:0 0 14px;
}
#content .columns .list li{
    background: url(../images/bullet-content-list.gif) no-repeat 0 7px;
    padding:0 0 0 14px;
}
.available{
    background: url(../images/bg-available.gif) no-repeat 0 2px;
    padding:1px 0 2px 29px;
    color:#00b200;
    margin:0 0 26px -3px;
    display:block;
}
.out-of-stock{
background: url(../images/no_stock.gif) no-repeat;
color:#c60c30;
font-weight:normal;
height:auto;
padding:1px 0 2px 29px !important;
}
p.intro{font-weight:bold;}
/* product-options */
.product-options{
    background:#f9f9f9;
    border:1px solid #e8e8e8;
    margin:0;
    padding:1px 15px 15px;
}
.product-options dl{
    padding:0 0 20px;
}
.product-options dt{
    float:left;
    padding:14px 4px 0 11px;
    width:50px;
}
* html .product-options dt{padding-right:1px;}
.product-options dd {
    border-bottom:1px solid #e8e8e8;
    margin:0;
    padding:11px 0 12px;
}
.product-options dd select{width:auto;}
.product-options .mark{
    color:#e93a75;
    padding:0 0 0 20px;
    position:relative;
    top:2px;
}
.product-options label{
    font-size:14px;
    text-transform:uppercase;
}
/* btn-cart */
.add-to-cart{
    margin:0 auto;
    width:271px;
}
.add-to-cart .btn-cart span span,
.catalog-product-view .btn-cart span span{
    padding:12px 73px 6px !important;
    background:none !important;
    width:auto !important;
    height:auto !important;
    margin:0 !important;
}
.add-to-cart .btn-cart span,
.catalog-product-view .btn-cart span{
    background: url(../images/btn-cart.gif) no-repeat !important;
    width: 271px !important;
    height: 47px !important;
    border:0 !important;
    font-size:14px !important;
    color:#fff !important;
    text-transform:uppercase !important;
    margin:0 auto !important;
    display:block !important;
}
/* footer */
#footer{
    width:100%;
    overflow:hidden;
    position:relative;
    z-index:2;
    height:194px;
    margin:-194px 0 0;
    line-height:19px;
    background: url(../images/bg-footer.jpg) no-repeat 50% 0;
    color:#fff;
}
.footer-holder{
    margin:0 auto;
    padding:22px 0 0 36px;
    width:909px;
}
/* footer section */
#footer .section{
    overflow:hidden;
    padding:0 0 48px;
}
/* footer columns */
#footer .columns{float:left;}
#footer .columns ul{
    list-style:none;
    margin:0;
    padding:0 37px 0 0;
    float:left;
}
#footer .columns a{color:#fff;}
/* footer info */
#footer .info{
    height:1%;
    overflow:hidden;
    text-align:right;
}
#footer p{margin:0;}
/* footer links */
.links{
    overflow:hidden;
    position:relative;
    width:100%;
}
#footer .links{
    width:909px;
    position:absolute;
    bottom:0;
}
.links .holder{
    float:left;
    position:relative;
    left:50%;
}
.links .frame{
    float:left;
    position:relative;
    left:-50%;
    padding:0 0 0 6px;
}
#content .links .frame{padding:0 28px 0 0;}
.links .l{
    background: url(../images/bg-links-l.png) no-repeat;
    height: 48px;
    float:left;
}
.links ul{
    list-style:none;
    margin:0;
    padding:14px 48px 0 55px;
    position:relative;
    float:left;
}
.links .l ul{
    margin:0 -100px 0 0;
}
.links ul li{
    float:left;
    padding:0 2px;
}
.links ul img{float:left;}
.links .r{
    background: url(../images/bg-links-r.png) no-repeat;
    width: 101px;
    height: 48px;
    float:left;
    padding:0;
}
.links .message{
    color:#daef98;
    font-size:11px;
    line-height:14px;
    position:absolute;
    right:0;
    top:18px;
    z-index: 3;
}
/* popup */
.popup{width: 381px;}
.popup .t{
    background: url(../images/bg-popup-t.png) no-repeat;
    height: 28px;
}
.popup .b{
    background: url(../images/bg-popup-b.png) no-repeat;
    height: 17px;
}
.popup .c{
    background: url(../images/bg-popup-c.png) repeat-y;
    width: 381px;
}
.popup .c:after{
    content:"";
    display:block;
    clear:both;
}
.popup-content{
    position:relative;
    float:left;
    width: 305px;
    margin:-28px 0 -17px;
    text-align:center;
    padding:45px 38px 47px;
}
.popup .close{
    background: url(../images/bg-popup-close.png) no-repeat;
    width: 31px;
    height: 31px;
    position:absolute;
    left:353px;
    text-indent:-9999px;
    overflow:hidden;
    top:-14px;
}
.popup .close:hover{cursor:pointer;}
.popup p.intro{
    line-height:23px;
    font-size:21px;
    color:#7a7a7a;
    margin:0 0 23px;
    display:block;
}
.popup .claim-form{
    margin:0 auto 37px;
    overflow:hidden;
    width:201px;
}
.popup .claim-form .text{
    background: url(../images/bg-claim-form-text.gif) no-repeat;
    width: 137px;
    height: 32px;
    padding:0 5px;
    float:left;
}
.popup .claim-form .text input{
    float:left;
    width: 137px;
    border:0;
    background:none;
    font-size:13px;
    line-height:16px;
    height:16px;
    padding:8px 0;
}
.popup .claim-form .submit{
    background: url(../images/bg-claim-form-submit.gif) no-repeat;
    border:0;
    color:#94949d;
    cursor:pointer;
    float:right;
    height:32px;
    width:50px;
    font-size:13px;
    padding:0 0 2px;
}
.popup .buttons{
    width: 325px;
    margin:0 -10px;
    overflow:hidden;
    position:relative;
}
.popup .buttons ul{
    float:left;
    position:relative;
    left:-50%;
    padding:0 0 0 4px;
}
.popup .buttons ul li{
    float:left;
    padding:0 11px;
}
.popup .buttons .holder{
    float:left;
    position:relative;
    left:50%;
}
.popup .buttons a{
    background: url(../images/btn-popup-button.gif) no-repeat;
    width: 124px;
    height: 21px;
    display:block;
    color:#94949d;
    text-align:center;
    padding:5px;
    overflow:hidden;
}
.popup .buttons a img{
    left:1px;
    position:relative;
    top:2px;
}
.discount{
    overflow:hidden;
}
#content .discount h2{margin:0 0 10px;}
.discount-form{
    color:#7a7a7a;
    font-size:13px;
    overflow:hidden;
    width:200px;
    padding:0 0 10px;
}
.discount-form label{
    float:left;
    width:100%;
    padding:0 0 5px;
}
.discount-form .input-box{
    background:#f4f4f4;
    border:1px solid #dedddd;
    padding:0 4px;
    width:190px;
    overflow:hidden;
    margin:0 0 10px;
}
.discount-form .input-box input{
    width:190px;
    padding:7px 0;
    border:0;
    margin:0;
    font-size:13px;
    height:16px;
    line-height:16px;
    background:#f4f4f4;
    color:#94949D;
    float:left;
}
.buttons-set{
    width:100%;
    overflow:hidden;
    border:0;
    margin:0;
    padding:0;
}
.discount-form .button span{
    float:left;
    border:1px solid #dedddd;
    color:#94949D;
    display:block;
    font:bold 13px/16px Arial,Helvetica,sans-serif;
    height:16px;
    padding:7px 4px;
    text-align:center;
    white-space:nowrap;
    background:#f4f4f4;
}
.discount-form .button span span{
    border:0;
    height:16px;
    padding:0;
}
.step-title{
    position:relative;
}

#product_addtocart_form .switcher ul{
    width: 348px;
}
#product_addtocart_form .switcher li{
    padding-bottom: 5px;
}

#slideshow{
    height:600px;
}
