@import 'fonts.css';
@import 'fonts/stylesheet.css';

html, body {
	height: 100%;
}

.translation_missing, .translation_missing * {
	color: #F00 !important;
	background: #FAA !important;
}

body, object, iframe, button {
	color: #404040; 
	font: 18px/1 "KunlasatriRegular", sans-serif;
}

body {
	min-width: 970px;
	background: #FFF url('/images/body-bg.jpg') center 130px no-repeat;
}

#wrapper {
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.discounted {
	text-decoration: line-through;
	color: #333;
	text-shadow: 1px 1px 1px #CCC;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;	
}

a {
	text-decoration: none;
	color: #666;
}
#content a {
	color: #DB1967;
} 
#content a:hover {
	text-decoration: underline;
} 
a:hover {
	color: #AAA;
	text-shadow: 0 0 10px #FFF;
}

h2 {
	color: #666;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7), 0 0 20px white;
}
h2.box-title {
	margin:0.8em 0 0em 1em; 	
}
h1 > span.f ,
h2 > span.f {
	color: #DB1967;
	font-size: 1.2em;
	line-height: 1;
	margin: 0 5px 0 0;
	font-family: "CarefreeNormal";/*"SRRojee";*/
}
h1.white > span.f,
h2.white > span.f {
	color: #FFF;
	text-shadow: 0px 3px 0px #999/*b2a98f*/,
                 0px 7px 5px rgba(0,0,0,0.15),
                 0px 12px 1px rgba(0,0,0,0.1),
                 0px 17px 15px rgba(0,0,0,0.1);
}
h1 {
    position:relative;
}

h1 span {
    position:absolute;
    display:block;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:url('/images/text-bg.png');
}

input[type=text], 
input[type=password], 
input[type=url], 
input[type=email], 
input.text, 
input.title, 
textarea, 
select {
	padding: 5px;
	margin:0.5em 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 2px #C5C5C5;
	-moz-box-shadow: inset 1px 1px 2px #C5C5C5;
	-ms-box-shadow: inset 1px 1px 2px #C5C5C5;
	-o-box-shadow: inset 1px 1px 2px #C5C5C5;
	box-shadow: inset 1px 1px 2px #C5C5C5;
	font-size: 0.7em;
}

#header {
	width: 100%;
	position: relative;
	zoom: 1;
	z-index: 2;
	height: 130px;
	margin: 0 0 -130px;
	background: #FFF url('/images/header-bg.png') center bottom repeat;
	overflow: visible;
}

#header > .container {
	height: 130px;
	position: relative;
	margin-bottom: -130px; /* IE fix */
}

#nav_bar {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
}

#nav_bar li {
	float: left;
	position: relative;
	padding: 7px 16px;
	margin-left: 5px;
	background: #555;
	background: rgba(80,80,80,0.5);
	-webkit-box-shadow: 2px -3px 15px #C5C5C5;
	-moz-box-shadow: 2px -3px 15px #C5C5C5;
	-ms-box-shadow: 2px -3px 15px #C5C5C5;
	-o-box-shadow: 2px -3px 15px #C5C5C5;
	box-shadow: 2px -3px 15px #C5C5C5;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;	
	border-radius: 20px 20px 0 0;
	background: rgba(80,80,80,0.5);
	border: 1px solid #AAA;
}

#nav_bar li a {
	color: #FFF;
	text-shadow: 0 0 10px #555;
}
#header-cart-total > a {
	color: #FFF;
	display: inline-block;
	white-space: nowrap;
}
#nav_bar li > a:hover {
	text-decoration: underline;
}
#nav_bar li#header-cart {
	margin-left: 30px !important;
}

#nav_bar li#header-search {
	width: 184px;
	height: 32px;
	-webkit-border-radius: 16px 16px 0 0;
	-moz-border-radius: 16px 16px 0 0;	
	border-radius: 16px 16px 0 0;
	padding: 0 !important;
}

#header-search #search-input {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 150px;
	height: 30px;
	background: url("../images/search-input.png") 0 0 no-repeat;
	overflow: hidden;
}

#header-search #search-submit {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 30px;
}

#header-search #search-input #keywords {
	color:#404040;
}

#header-search #search-submit input {
	background: transparent url("/images/search-submit.png") top left no-repeat; 
	width:29px; 
	height: 30px; 
	border: 0; 
	color: #333;
}

#header-search #search-input input {
	color: #404040;
}

#header-search #search-input input {
	position: relative;
	width: 136px;
	margin: 7px;
	padding: 0px;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	/*font: 13px/1 "arial", sans-serif;*/
}

.noscreen {
	display: none;
}

thead th {
	background: none;
	border-bottom: 1px solid #D83870;
}

#header-cart img {
	position: absolute;
	bottom: -6px;
	left: -26px;
}
#header-cart-total {
	position: absolute;
	right: 180px;
	bottom: 40px;
	color: #FFF;
	background: url('/images/carousel-side-bg.gif');/*#585749;*/
	padding: 8px 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 10px #C5C5C5;
	-moz-box-shadow: 0px 3px 10px #C5C5C5;
	-ms-box-shadow: 0px 3px 10px #C5C5C5;
	-o-box-shadow: 0px 3px 10px #C5C5C5;
	box-shadow: 0px 3px 10px #C5C5C5;
	width: auto;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	font-size: 1.2em;
	font-weight: bold;
}


#body {
	padding: 130px 0 233px;
	position: relative;
	zoom:1;
}
#body > .container {
	position: relative;
	z-index: 0;
}

.breadcrumbs {
	padding: 10px 0 20px 0;
}
.breadcrumbs ul {
	list-style: none;	
}

.breadcrumbs ul li {
	float: left;
}
ul#tray {
	list-style: none;
	margin: 16px 0 40px 0;
	font-size: 1.1em;
	line-height: 22px;
	height: 34px;
	overflow: visible;
}
ul#tray > li {
	float: left;
	margin: 0 2px;
}
ul#tray > li > a {
	float: left;
	color: #666;
	text-shadow: 1px 1px 0 white;
	padding: 6px 16px;
	height: 22px;
	background: #FFF;
	background: rgba(255,255,255,.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	border-radius: 5px;
	-webkit-box-shadow: 0 0 20px rgba(228,229,236,.3) inset, 0 5px 5px #999;
	-moz-box-shadow: 0 0 20px rgba(228,229,236,.3) inset, 0 0 5px #bbb;
	-ms-box-shadow: 0 0 20px rgba(228,229,236,.3) inset, 0 0 5px #bbb;
	-o-box-shadow: 0 0 20px rgba(228,229,236,.3) inset, 0 0 5px #bbb;
	box-shadow: 0 0 20px rgba(228,229,236,.3) inset, 0 2px 3px #999, -2px 0 20px #999;
}

ul#tray > li > a:hover {
	background: #FFF;
	color: #DB1967;
}
ul#tray > li > a.active {
	color: #DB1967;
}

/* block styles */

#carousel {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 316px;
    background: #FFF;
    -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #888;
    -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #888;
    -ms-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #888;
    -o-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #888;
    box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #888;

}

.flash {
	-webkit-box-shadow: 0 0 65px #E4E5EC inset, 0 0 20px #CDD2DE inset, 0 0 5px #888;
	-moz-box-shadow: 0 0 65px #E4E5EC inset, 0 0 20px #CDD2DE inset, 0 0 5px #888;
	-ms-box-shadow: 0 0 65px #E4E5EC inset, 0 0 20px #CDD2DE inset, 0 0 5px #888;
	-o-box-shadow: 0 0 65px #E4E5EC inset, 0 0 20px #CDD2DE inset, 0 0 5px #888;
	box-shadow: 0 0 65px #E4E5EC inset, 0 0 20px #CDD2DE inset, 0 0 5px #888;
	background: #FFF;
	border: none;
	padding: 0.8em;
	margin-bottom: 1em;
	border: 2px solid #DDD;
}

#carousel .side {
	float: left;
	background: url(/images/carousel-side-bg.gif) top left no-repeat;
	width: 290px;
	height: 245px;
	padding: 62px 0 10px 10px;
	float: left;
	overflow: hidden;
	position: relative;
}

#carousel .side ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 22px;
	overflow: hidden;
}

#carousel .side ul li {
	float: left;
	width: 256px;
	border-top: 1px solid #D35588;
	margin: -1px 0 1px;
}

#carousel .side ul li a {
	color: white;
	text-shadow:0 0 10px white;
	display: block;
	margin: 0 -35px 0 0;
	padding: 6px 16px 7px;
	width: 259px;
	overflow: hidden;
	position: relative;
}

#carousel .side ul li a:hover,
#carousel .side ul li a.active {
	background: #95103F;
}

#carousel .content {
	float: left;
}
#carousel .content,
#carousel .content img {
	background: #FFF;
	width: 650px;
	height: 316px;
}

.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }
.coin-slider a:hover { text-shadow: 0 0 10px #FFF; color: #FFF; }
.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 650px;
	/*height: 0;*/
	overflow: visible;
	z-index: 1000;
	color: #FFFFFF; 
	text-align: left; 
}

.cs-title h1 {
	position: absolute;
	top: 29px;
	left: 40px;
	line-height: 1;
	text-shadow: 0px 2px 0px #E5B1BC,
	                 0px 7px 5px rgba(0,0,0,0.15),
	                 0px 12px 1px rgba(0,0,0,0.1),
	                 0px 17px 15px rgba(0,0,0,0.1);
/*	float:left;
	clear:left;
*/}



.cs-title h2 {
	position: absolute;
	top: 60px;
	left: 30px;
	background: #FFF;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-box-shadow: 4px 3px 8px #888;
	-moz-box-shadow: 4px 3px 8px #888;
	-ms-box-shadow: 4px 3px 8px #AAA;
	-o-box-shadow: 4px 3px 8px #888;
	box-shadow: 4px 3px 8px #888;
	padding: 5px 20px;
	font-size: 1.2em;
	width: auto;
/*	float:left;
	  clear:left;
*/}
.cs-title a {
	position: absolute;
	top: 275px;
	right: 15px;
	background: #FFF;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;	
	border-radius: 15px;
	padding: 6px 15px;
	border: 0;
	/*font: 18px/1 "SPThunderFoxRegular", sans-serif;*/
	color: #999;
}


.cs-prev, 
.cs-next { background: #585749; color: #FFFFFF; padding: 0px 10px; }


#carousel:after, #carousel:before {
    content: " ";
    position: absolute;
    width: 50%;
    height: 256px;
    z-index: -10;
}

#carousel:before {
    top: 52px;
    left: 5px;

    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    
    -webkit-box-shadow: 7px 6px 15px #333;
    -moz-box-shadow: 7px 6px 15px #333;
    -ms-box-shadow: 7px 6px 15px #333;
    -o-box-shadow: 7px 6px 15px #333;
    box-shadow: 7px 6px 15px #333;
    
}

#carousel:after {
    top: 52px;
    right: 5px;
    
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    
    -webkit-box-shadow: -7px 6px 15px #333;
    -moz-box-shadow: -7px 6px 15px #333;
    -ms-box-shadow: -7px 6px 15px #333;
    -o-box-shadow: -7px 6px 15px #333;
    box-shadow: -7px 6px 15px #333;
    
}

.home-product {
	position: relative;
	background: white;
	-webkit-box-shadow: 4px 3px 8px #888;
	-moz-box-shadow: 4px 3px 8px #888;
	-ms-box-shadow: 4px 3px 8px #AAA;
	-o-box-shadow: 4px 3px 8px #888;
	box-shadow: 4px 3px 8px #888;
}

.home-product .picture {
	position: relative;
	height: 190px;
}
.home-product .picture img {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 160px !important;
	height: 140px !important;
}
.home-product .picture .price {
	position: absolute;
	top: 20px;
	right: -5px;
	background: #A50E46;
	color: white;
	padding: 5px;
}
.home-product .content {
	padding: 0 15px 15px 15px;
	text-align: center;
}

.main-block {
	background: url(/images/main-block-bg.png) no-repeat;
	width: 955px;
	overflow: hidden;
	padding: 0 0 9999px;
	margin: 0 -5px -9999px 0;
}

#sidebar {
	width: 188px;
	float: left;
	position: relative;
}

#content {
	float: right;
	width: 687px;
	padding: 0 39px 0 33px;
	overflow: hidden;
	position: relative;
}

#content .header.black {
	background: url(/images/content-header-bg1.jpg) no-repeat;
}

#content .header {
	background: url(/images/content-header-bg.jpg) no-repeat;
	width: 694px;
	height: 24px;
	margin: 0 -44px 15px -33px;
	position: relative;
	overflow: visible;
	padding: 23px 29px 22px;
	z-index: 1;
}

#content .header h1 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 24px;
	color: white;
	margin: 0;
	text-shadow: 1px 1px 1px #D55E92
}

#sidebar .header {
	background: #555;
	background: rgba(80,80,80,0.5);
	margin: 0;
	font-size: 1.2em;
	text-shadow: 1px 1px 1px #CCC;
	line-height: 24px;
	font-weight: normal;
	padding: 23px 29px 22px;
	overflow: hidden;
	height: 1%;
}

#sidebar .header a {
	color: #333;
	
}

.collection {
	width: 717px;
	list-style: none;
	margin: 0 -22px 16px 0;
	padding: 0;
}

.collection:after {
	content: "";
	display: block;
	clear: both;
}

.collection li {
	position: relative;
	display: inline-block;
	padding: 14px 15px;
	border: 1px solid #F1F0F0;
	margin: 0 19px 20px 0;
	vertical-align: top;
	text-align: center;
	/* ie 7 : */
	zoom: 1;
	*display: inline;
}

* html .collection li { display:inline; }  /* IE6 hack */
* html .collection { padding-bottom:17px;}  /* IE6 hack  */
*:first-child+html .collection li { display:inline; } /* IE7 hack */
*:first-child+html .collection { padding-bottom:17px; overflow-y:hidden; }  /* IE7 hack  */

.collection li:hover {
	border: 1px solid #CACACA;
}

.collection li p {
	margin: .7em 0 0 0;
}

.collection li p a {
	color: #666 !important;
}

.collection li p a:hover {
	color: #DB1967;
}

.colection .image {
	border: 1px solid #D0D0D0;
	width: 183px;
}

.colection .image, .boxes .image {
	margin: 0 0 9px;
	width: 149px;
	position: relative;
}

.colection .coast {
	right: -23px;
}

.colection .coast, .boxes .coast {
	position: absolute;
	right: -21px;
	top: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.colection .coast li, .boxes .coast li {
	float: right;
	margin: 0 0 -5px;
	position: relative;
	width: auto;
	height: auto;
	border: 0;
	padding: 0;
	clear: both;
}

.colection .coast .price-box, .boxes .coast .price-box {
	background: #DB1967;
	float: left;
	padding: 6px 4px 8px 6px;
}

.colection .coast .price, .boxes .coast .price {
	font-size: 16px;
	line-height: 19px !important;
	color: white;
	float: left;
}

.regular-price .price {
	font-weight: bold;
	font-size: 13px;
	color: #C76200;
}

.price {
	white-space: nowrap !important;
}

.colection .coast .r, .boxes .coast .r {
	background: url(/images/coast-r-bg.png) no-repeat;
	width: 6px;
	height: 39px;
	text-indent: -9999px;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	float: left;
}

#sidebar .block {
	width: 188px;
	margin: 0 0 -7px;
	position: relative;
}

#sidebar .add-nav {
	/*background: white;*/
	list-style: none;
	margin: 0;
	padding: 0 12px 0 10px;
	font-size: 1em;
	line-height: 18px;
	width: 166px;
	overflow: hidden;
	border-top: 1px solid white;
	position: relative;
}

#sidebar .add-nav li {
	float: left;
	width: 100%;
	border-top: 1px solid #E0DFD4;
	position: relative;
	margin: -1px 0 0;
}

#sidebar .add-nav a {
	padding: 14px 28px 13px;
	float: left;
	color: #3C3C36;
	text-shadow: 1px 1px 1px #FFF;
	width: 175px;
	margin: 0 -12px 0 -10px;
	background: #EEE;
	background: rgba(255,255,255,.6);
	position: relative;
}

#sidebar .add-nav a.btn-sidebar {
	padding:0 10px 0 5px;
}

#sidebar .add-nav a:hover {
	background: #FFF;
	color: #DB1967;
}

#sidebar .block .b {
	background: url(/images/block-b-bg.png) no-repeat;
	width: 187px;
	height: 7px;
	text-indent: -9999px;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.search fieldset {
	background: white;
	height: 1%;
	overflow: hidden;
	padding: 18px 20px 22px 25px;
}

/*.search fieldset*/ label {
	font-weight: normal;
	color: #666;
}

#sidebar #narrow-by-list dd {
	padding-bottom: 10px;
	margin: 0;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

fieldset {
	border: 0;
}

/* ribbon style */

 .ribbon-wrapper {
	position: absolute;
	top: 30px;
	right: 0;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	border-top: px solid #ccc;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .ribbon-front {
	background-color: #DB1967;	height: 18px;
	width: auto;
	position: relative;
	right: -6px;
	z-index: 2;
	margin-left: -9px ;
	padding: 6px 15px;
	color: #FFF;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 30px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -6px;
	border-color: transparent #6D6D6D transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 5px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 5px 5px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	right: -6px;
	border-color: transparent transparent transparent #6D6D6D;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 5px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 5px 5px;
}

  .ribbon-back-left {
	position: absolute;
	top: 5px;
	left: -21px;
	width: 20px;
	height: 30px;
	background-color: #B3295F;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 5px;
	right: -9px;
	width: 8px;
	height: 30px;
	background-color: #B3295F;	z-index: 0;
}

.switcher-block {
	width: 100%;
	position: relative;
	overflow: visible;
}

.switcher-block .t {
	background: url(/images/switcher-bg.png) no-repeat;
	width: 688px;
	height: 9px;
	position: absolute;
	top: 0;
	z-index: 2;
	left: 0;
}

.switcher-block .holder {
	position: relative;
	left: 50%;
	float: left;
	z-index: 1;
	padding: 0 0 0 8px;
}

.switcher-block .pagination {
	position: relative;
	left: -50%;
	float: left;
	padding: 0 0 6px;
	font-size: 17px;
}
.switcher-block .pagination span,
.switcher-block .pagination a,
.switcher-block .pagination em {
	float: left;
	display: inline-block;
	padding: 8px 12px 5px;
	margin: 0 2px;
	text-align: center;
	background: #EFEFEF;
}
.switcher-block .pagination a,
.switcher-block .pagination em {
	color: #707678 !important;
}

.switcher-block .pagination span {
	color: #AAA !important;
}

.switcher-block .pagination em, 
.switcher-block .pagination a:hover {
	color: white !important;
	padding-bottom: 11px;
	margin-bottom: -6px;
	position: relative;
	background: #D83870;
	text-decoration: none;
	font-style: normal;
}

#content textarea {
	width: 675px;
}

.label {
	padding: 10px 10px 0 10px;
}

#footer {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 2;
	height: 100px;
	margin: -100px 0 0;
	line-height: 19px;
	background: transparent url(/images/footer-bg.jpg) no-repeat 50% 0;
	color: #AAA;
	position: relative; 
	zoom: 1;
}

#footer > .container {
	/*margin-top: -100px; /* IE fix */
}
#footer a {
	color: #FFF;
	font-weight: normal;
}
#footer a:hover {
	text-decoration: underline;
}

.f-left { text-align: left; margin: 20px 10px 20px 0; }
.f-right { text-align: right; margin: 20px 0; }

#page_content ol {
	list-style: decimal;
	margin: 1em 0 1em 2.5em;
}
#page_content ul {
	list-style: disc;
	margin: 1em 0 1em 2.5em;
}
#page_content h2 {
	margin: 16px 0;
}
#page_content h3 {
	margin: 10px 0;
}

#product-images {
	float: left;
	position: relative;
	width: 339px;
	height: auto;
}

#product-images img {
	width: 339px;
}

#main-image {
	margin-bottom: 2px;
}


#main-image img {
	border: 1px solid #D9D9D9;	
}
	
#product-description {
	float: right;
	width: 321px;
	padding: 12px 0 0;
}

#product-thumbnails li {
	width: 80px;
	margin: 0 7px 0 0;
	padding-bottom: 5px;
	display: inline;
	float: left;
	
}

#product-thumbnails li img {
	width: 78px;
	height: 78px;
	display: block;
	border: 1px solid #D9D9D9;	
}

.price-box {
	background: url(../images/heading-price-bg.png) no-repeat;
	width: 148px;
	height: 61px;
	float: right;
	padding: 0;
	margin: -17px -3px -21px;
	display: inline;
	position: relative;
}

.prices {
	color: #3C3C36;
	font-size: 1.2em;
	line-height: 20px;
	font-weight: normal;
	float: left;
	text-align: center;
	padding: 12px;
	position: relative;	
	width: 124px;
}
.prices span {
	text-align: center;
}

.columns {
float: none;
width: 690px;
margin: 0 -3px 0 0;
position: relative;
}

.hidden { display: none; }
input[type=text] {
	/*width: 90%;*/
}

fieldset p {
	margin: 0;
}
fieldset {
	padding: 20px 0;
}
.inner {
	margin-top: 15px;
}
.errorExplanation *,
.field_with_errors * {
	color: #FF0000;
	border-color: #FF0000 !important;
}
.errorExplanation {
	padding: 40px;
}

ol.progress-steps { position: relative;list-style-type: none;width:687px }

ol.progress-steps li{
    position:relative;
    float: left;
	color: #C2C2C2;
   	background: url('../images/steps-bg.png') left -15px no-repeat;
    min-height:60px;
    height: 4em; 
    min-width:80px;
    width:auto;
	line-height: 4em;
	font-weight: bold;
	font-size: 110%;
    margin-bottom:1em;
    text-align:center;
    overflow:hidden;
    padding: 0 10px 0 40px;
}
ol.progress-steps a {
	color: #FFF !important;
}
ol.progress-steps li span{ color: #FFF; margin: 0 5px 0 10px; }

ol.progress-steps li.empty{
    background-position: left -15px;
}
ol.progress-steps li.current-first {
	color: #fff;
    background-position: left -515px;
}
ol.progress-steps li.next, 
ol.progress-steps li.next-last {
    background-position: left -115px;
}
ol.progress-steps li.current{
  color:#fff;
    background-position: left -215px;
}

ol.progress-steps li.completed-first {
	color: #fff;
    background-position: left -415px;
}

ol.progress-steps li.completed-last, ol.progress-steps li.completed {
	color: #fff;
    background-position: left -315px;
}
.btn-sidebar {
	
}
.btn {
	display:inline-block;
	color:#555555;
	text-shadow: 1px 1px 0 #FFF;
	background: url("/images/gray-bg.gif") top left repeat-x;
	text-decoration:none;
	text-decoration: none;
	height:45px;
	margin:5px;
	padding: 0 10px 0 5px;
	line-height:45px;	
	position:relative;
	border:1px solid #AAA;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	cursor: pointer;
}
.btn:hover{
	border-color:#999;
	color:#FFF;
	background: url("/images/gray-hover.gif") top left repeat-x;
	text-shadow:0 0 10px #FFF;
}
.btn:active {
	background:url("/images/carousel-side-bg.gif");
}
.btn-sidebar span,
.btn span {
	background-repeat: no-repeat;
	background-position: left center;
	text-indent:40px;
	line-height:45px;	
	display:block;
}
/*
.btn {
	display:inline-block;
	padding:0 10px 0 5px;
	font: 18px/1 "supermarketRegular", sans-serif;
	text-decoration: none;
	height:44px;
	line-height:44px;
	background: url("/images/gray-bg.gif") top left repeat-x;
	color:#404040;
	text-shadow:0 1px 0 #fff;
	position:relative;
	border:1px solid #AAA;
	margin:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	cursor: pointer;
}

.btn:hover {
border-color:#999;
color:#FFF;
background: url("/images/gray-hover.gif") top left repeat-x;
text-shadow:0 0 10px #FFF;
}

.btn:active {
	background:url("/images/carousel-side-bg.gif");
}
.btn-sidebar span,
.btn span {
display:inline-block;
position: relative;
width:32px;
height:32px;
background-repeat:no-repeat;
background-position:center;
margin: 5px 10px 5px 0;
float: left;
}
*/
.btn.add-to-cart span {
background-image:url(/images/icons/add-to-cart.png);
}

.btn-sidebar.empty span {
background-image:url(/images/icons/empty.png);
}
.btn-sidebar.pdf span {
background-image:url(/images/icons/pdf.png);
}
.btn.create span {
background-image:url(/images/icons/create.png);
}

.btn.signin span {
background-image:url(/images/icons/login.png);
}	

.btn-sidebar.shopping span, .btn.cart span, .btn.cart.empty span {
background-image:url(/images/icons/shopping.png);
}	

.btn.cart.full span {
background-image:url(/images/icons/cart-full.png);
}

.btn.info span {
background-image:url(/images/icons/info.png);
}

.btn.update span,
.btn-sidebar.update span {
background-image:url(/images/update.png);
}

.btn-sidebar.checkout span {
background-image:url(/images/checkout.png);
}

.btn-sidebar.account span {
background-image:url(/images/icons/account.png);
}

.btn-sidebar.home span {
background-image:url(/images/icons/home.png);
}

.btn.continue span {
background-image:url(/images/icons/continue.png);
}

.cart-qty{
	padding:0;
	height: 32px;
	line-height: 32px;
	font: 18px/1 "KunlasatriBold", sans-serif;
	text-align: center;
}
#subtotal td {
	padding-top: 20px;
}
#subtotal td.total {
	color: #DB1967; 
	background: #FFF;
}
#subtotal td,
#order-total td {
	background: #FFF;
}
#subtotal td.total-label,
#order-total td.total-label {
	text-align: right;
}
#order-total td.total {
	color: #DB1967;
	font-size: 1.6em;
}
.inner {
	margin-bottom: 20px;
}
#subtotal h3 {
	text-align: right;
}

.clear {
  clear:both;
}

#wheel {
	position: relative;
	overflow: visible;
}

#wheel .button {
	position: absolute;
	top: 0px;
	left: 30px;
	background: #FFF;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;	
	border-radius: 15px;
	padding: 6px 15px;
	border: 0;
	color: #999;
	
}

.wheel { 
	position: absolute; 
	right: -140px; 	
	top: -32px; 
	width:100px; 
	height:100px; 
	text-align:center;	
}
.wheel-item {
	background-color:none;
	height:30px;
	padding:10px;
	color:#234;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;
}
.wheel-item.active { 
	background-color:#511; color:white;
	padding: 10px; 
	-moz-border-radius:40px;
	z-index:100;
}
.radial_div_item { 
	font-size:1em; 
	color:#fff;
	background:url("/images/carousel-side-bg.gif");
	-moz-border-radius:30px;
	text-align: center;
	padding: 5px;
	width:150px;
	white-space: nowrap;
	-webkit-border-radius:30px;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /* IE 8 */
    	filter:alpha(opacity=0); /* IE 4, 5, 6 and 7 */
   	zoom:1
}
.arial {
  font: 13px/1 "arial", sans-serif;
}
