@import 'fonts.css';
@import 'fonts/stylesheet.css';

.ui-body-c, .ui-overlay-c,
.ui-header .ui-title, .ui-footer .ui-title ,
.ui-li-heading, 
.ui-li-desc, .ui-btn-text,
body, object, input, iframe, button {
	font-family: "KunlasatriLight", sans-serif;
	font-size: 17px;
	font-weight: normal;
}

.ui-link,
.ui-body-c .ui-link,
.ui-bar-a .ui-link {
	color: #DB1967;
	text-decoration: none;
	font-weight: normal;
}

.f {
	font-family: "CarefreeNormal";
	font-weight: normal;
	font-size: 20px;
	line-height: 0.8;
	overflow: visible;
	color: #BA1852;
	text-decoration: none;
}
.ui-li-heading {
	overflow: visible;
}
.ui-bar-b .f,
.ui-btn-up-a .f {
	color: #FFF;
}
.ui-btn-up-a {
	background: rgb(181,25,103); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,25,103,1) 0%, rgba(206,26,98,1) 50%, rgba(204,2,82,1) 51%, rgba(181,27,104,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,25,103,1)), color-stop(50%,rgba(206,26,98,1)), color-stop(51%,rgba(204,2,82,1)), color-stop(100%,rgba(181,27,104,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181,25,103,1) 0%,rgba(206,26,98,1) 50%,rgba(204,2,82,1) 51%,rgba(181,27,104,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181,25,103,1) 0%,rgba(206,26,98,1) 50%,rgba(204,2,82,1) 51%,rgba(181,27,104,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181,25,103,1) 0%,rgba(206,26,98,1) 50%,rgba(204,2,82,1) 51%,rgba(181,27,104,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(181,25,103,1) 0%,rgba(206,26,98,1) 50%,rgba(204,2,82,1) 51%,rgba(181,27,104,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b51967', endColorstr='#b51b68',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 -1px 1px #555;
	border: 1px solid #EBB3BC;
}

#mobile_logo {
	position:absolute;
	top: 4px;
	left: 34px;
	height: 30px;
}

.ui-btn-hover-a, .ui-btn-down-a {
border: 1px solid #333;
background: #111;
color: #BA1852;
font-weight: bold;
text-shadow: 0 -1px 1px #555;
background-image: -webkit-gradient(linear,left top,left bottom,from(#3C3C3C),to(#111));
background-image: -webkit-linear-gradient(#3C3C3C,#111);
background-image: -moz-linear-gradient(#3C3C3C,#111);
background-image: -ms-linear-gradient(#3C3C3C,#111);
background-image: -o-linear-gradient(#3C3C3C,#111);
background-image: linear-gradient(#3C3C3C,#111);
}
.ui-header .ui-title, .ui-footer .ui-title {
	min-height: 1.4em;
	text-align: center;
	display: block;
	overflow: visible;
	line-height: 1;
	margin: 0.7em 30% 0.3em;
}
.ui-footer .ui-title {
	margin: 0.6em 16px 0.4em;
}
#header {
    width:100%;
    text-align:center;
    padding: 0 0 15px 0;
	background: #FFF url('/images/header-bg.png') center bottom repeat;
}
#small_header {
	background: #FFF url('/images/header-bg.png') center bottom repeat;
}
.ui-page {
	background: #FFF url('/images/body-bg.jpg') center 80px no-repeat;
}

.ui-header
{
    border-bottom:1px solid #888;
    -webkit-box-shadow: 0 0 10px #555;
}


    table { width:100%; border-spacing: 0; }
    table caption { text-align:left;  }
    table thead th { text-align:left; border-bottom-width:1px; border-top-width:1px; }
    table th, td { text-align:left; padding:6px;} 


.ui-bar-b {
border: 1px solid #EBB3BC;
background: #D6165A url(/images/content-header-bg.jpg) no-repeat;
background-size: 376px 35px;
color: white;
font-weight: bold;
text-shadow: 0 1px 1px #EBB3BC;
}
.price {
	color: #DB1967;
	text-shadow: 1px 1px 1px #FFF;
	font-size: 1.2em;
	border-radius: 5px;
}
.discounted {
	text-decoration: line-through;
	color: #333;
	text-shadow: 1px 1px 1px #CCC;
}
.small { font-size: 0.9em;
text-align:center;}



#cart-form input { max-width: 250px; }
#cart-detail .ui-li-desc { white-space: normal; }
dt { font-weight: bold; }
#line_items input { width: 3em; }
#line_items td { padding: 3px; background: #EEE; }
#updatecart #subtotal { text-align: right; margin: 2em 0.5em 0 0; }
.min-width-480px label.ui-input-text { width: 60%; }
.min-width-480px .ui-input-search { width: 90%; }
#checkout fieldset { margin-top: 2em; }
#checkout fieldset legend { font-weight: bold; }
#billing input, #shipping input { width: 100%; }
span.req { color: #D11; }
legend { font-size: 12pt; }

#checkout_form_address label {
  width: auto;
  margin-right: 0.5em;
}
#checkout_form_address .hidden { display: none; }

ol.progress-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 12px;
}

ol.progress-steps li {
  float: left;
  padding: 6px;
}

ol.progress-steps li.current-first, ol.progress-steps li.current {
  color: white;
  background-image: url(../images/step-progress/current-first.gif);
}

div#checkout-summary {
  border: #EEF 2px solid;
  background: #FFE;
  padding: 1em;
  margin-top: 1em;
}

.ui-header .ui-title .ui-link { color: white; text-decoration: none; }
/*.ui-header #home_link .ui-btn-inner { padding-left: 15px; }*/

.odd  { background: #FFE; }
.even { background: #EEF; }

dl#product-properties dd { padding-bottom: 0.5em; }

/* Margins */
form { margin: 0; }
#line_items p { margin: 0; }
#footer { margin: 0em 0.5em; }
.ui-listview-inset { margin: 1em 0.5em; }
/*.ui-content h3 { margin: 0 0 1.5em 0; }*/
.ui-li-divider h3.ui-li-heading ,
h3.ui-collapsible-heading
 { margin : 0; }
.ui-content div.pagination { margin-top: 2em; }
div.ui-collapsible-content {margin:0;}
/*.ui-header .ui-title { margin-left: 5em; margin-right: 6em; text-align: left; }*/

.ui-icon-teenstar {
	background: none;
	background-image: url("/images/teenstar_logo.png");
	background-size: auto 20px;
	background-position: -2px 18px;
	width: 34px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-teenstar {
		background: none;
		background-image: url("/images/teenstar_logo.png");
		background-size: auto 20px;
		background-position: -2px 18px;
		width: 34px;	
	}
}
