
/* FONTS : */

@font-face {
    font-family: 'EQFeelGoodRegular';
    src: url('/fonts/eq_feel_good-webfont.eot');
    src: url('/fonts/eq_feel_good-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/eq_feel_good-webfont.woff') format('woff'),
         url('/fonts/eq_feel_good-webfont.ttf') format('truetype'),
         url('/fonts/eq_feel_good-webfont.svg#EQFeelGoodRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'supermarketRegular';
    src: url('/fonts/supermarket-webfont.eot');
    src: url('/fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/supermarket-webfont.woff') format('woff'),
         url('/fonts/supermarket-webfont.ttf') format('truetype'),
         url('/fonts/supermarket-webfont.svg#supermarketRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SPThunderFoxBoldRegular';
    src: url('/fonts/sp-thunderfox-bold-webfont.eot');
    src: url('/fonts/sp-thunderfox-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sp-thunderfox-bold-webfont.woff') format('woff'),
         url('/fonts/sp-thunderfox-bold-webfont.ttf') format('truetype'),
         url('/fonts/sp-thunderfox-bold-webfont.svg#SPThunderFoxBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SPThunderFoxRegular';
    src: url('/fonts/sp-thunderfox-webfont.eot');
    src: url('/fonts/sp-thunderfox-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sp-thunderfox-webfont.woff') format('woff'),
         url('/fonts/sp-thunderfox-webfont.ttf') format('truetype'),
         url('/fonts/sp-thunderfox-webfont.svg#SPThunderFoxRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SPUnforgivenRegular';
    src: url('/fonts/sp-unforgiven-webfont.eot');
    src: url('/fonts/sp-unforgiven-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sp-unforgiven-webfont.woff') format('woff'),
         url('/fonts/sp-unforgiven-webfont.ttf') format('truetype'),
         url('/fonts/sp-unforgiven-webfont.svg#SPUnforgivenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SRRojee';
    src: url('/fonts/sr_rojee_np-webfont.eot');
    src: url('/fonts/sr_rojee_np-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sr_rojee_np-webfont.woff') format('woff'),
         url('/fonts/sr_rojee_np-webfont.ttf') format('truetype'),
         url('/fonts/sr_rojee_np-webfont.svg#SRRojee') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CANPeesuer';
    src: url('/fonts/can_peesuer-webfont.eot');
    src: url('/fonts/can_peesuer-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/can_peesuer-webfont.woff') format('woff'),
         url('/fonts/can_peesuer-webfont.ttf') format('truetype'),
         url('/fonts/can_peesuer-webfont.svg#CANPeesuer') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CANRukdeaw';
    src: url('/fonts/can_rukdeaw01-webfont.eot');
    src: url('/fonts/can_rukdeaw01-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/can_rukdeaw01-webfont.woff') format('woff'),
         url('/fonts/can_rukdeaw01-webfont.ttf') format('truetype'),
         url('/fonts/can_rukdeaw01-webfont.svg#CANRukdeaw') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Charmonman';
    src: url('/fonts/th_charmonman-webfont.eot');
    src: url('/fonts/th_charmonman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/th_charmonman-webfont.woff') format('woff'),
         url('/fonts/th_charmonman-webfont.ttf') format('truetype'),
         url('/fonts/th_charmonman-webfont.svg#Charmonman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CharmonmanBold';
    src: url('/fonts/th_charmonman_bold-webfont.eot');
    src: url('/fonts/th_charmonman_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/th_charmonman_bold-webfont.woff') format('woff'),
         url('/fonts/th_charmonman_bold-webfont.ttf') format('truetype'),
         url('/fonts/th_charmonman_bold-webfont.svg#CharmonmanBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background-color:#222; color:#404040; font: 18px/1 "SPThunderFoxRegular", sans-serif;}
/*
a {text-decoration: none;}
a:hover {color:#000;}
*/
a {
	color: #555;
	text-decoration: none;
}
a:hover {
	color: #FFF;
	text-shadow: 0 0 10px #FFF;
}

.overlay {
	background: transparent url("/images/bg_content.png") repeat top left;
	padding: 0 15px;
}
a > h3 {
	font-family: "CharmonmanBold";
	font-size: 90px;
	color: #333;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15),
	                 0px 14px 10px rgba(0,0,0,0.15),
	                 0px 24px 2px rgba(0,0,0,0.1),
	                 0px 34px 30px rgba(0,0,0,0.1);
}
a > h3:hover {
	color: #FFF;
	text-shadow: 1px 1px 2px black;
}
.title {
	color: #FFF;
	font-size: 72px;
	text-shadow: 0 1px 0 #ccc, 
	             0 2px 0 #c9c9c9,
	             0 3px 0 #bbb,
	             0 4px 0 #b9b9b9,
	             0 5px 0 #aaa,
	             0 6px 1px rgba(0,0,0,.1),
	             0 0 5px rgba(0,0,0,.1),
	             0 1px 3px rgba(0,0,0,.3),
	             0 3px 5px rgba(0,0,0,.2),
	             0 5px 10px rgba(0,0,0,.25),
	             0 10px 10px rgba(0,0,0,.2),
	             0 20px 20px rgba(0,0,0,.15);
}
.title:hover {
	text-shadow: 0px 3px 0px #b2a98f,
	                 0px 14px 10px rgba(0,0,0,0.15),
	                 0px 24px 2px rgba(0,0,0,0.1),
	                 0px 34px 30px rgba(0,0,0,0.1);
}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */
/* ------ buttons
-----------------------------------------------*/

.btn {
font: 18px/1 "SPThunderFoxRegular", sans-serif;
display:inline-block;
height:44px;
line-height:44px;
padding:0 10px 0 50px;
background: url("/images/gray-bg.gif") top left repeat-x;
color:#404040;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #AAA;
margin:5px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
text-decoration: none;

}

.btn:hover {
border-color:#999;
color:#FFF;
background: url("/images/gray-hover.gif") top left repeat-x;
text-shadow:0 0 10px #FFF;
}

.btn:active {
	background:url("/images/gray-active.gif");
}

.btn span {
display:block;
position:absolute;
top:6px;
left:9px;
width:32px;
height:32px;
background-repeat:no-repeat;
background-position:center;
}

.btn.add-to-cart span {
background-image:url(/images/icons/add-to-cart.png);
}

.btn.empty span {
background-image:url(/images/icons/empty.png);
}

.btn.create span {
background-image:url(/images/icons/create.png);
}

.btn.signin span {
background-image:url(/images/icons/login.png);
}	

.btn.shopping span, .btn.cart span, .btn.cart.empty span {
background-image:url(/images/icons/shopping.png);
}	

.btn.cart.full span {
background-image:url(/images/icons/cart-full.png);
}

.btn.info span {
background-image:url(/images/icons/info.png);
}

.btn.update span {
background-image:url(/images/update.png);
}

.btn.checkout span {
background-image:url(/images/checkout.png);
}

.btn.home span {
background-image:url(/images/icons/home.png);
}

.btn.continue span {
background-image:url(/images/icons/continue.png);
}
/*
.price {
	text-align: right;
	color: #E1007D;
	font: 2em/1 "EQFeelGoodRegular";
	text-shadow: 0 0 10px #fff
}
*/
.caption-title {
	color: rgba(255,255,255,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
	                 0px -5px 35px rgba(255,255,255,0.3);
	font-size: 1.2em;
}

.clear-fix {
	clear: both;
}

.container {
	padding:10px;
}

.dark {
	background: #222;
}
.white {
	color: #FFF;
}

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

    #nav span, #nav2 span {color:#CCC; text-shadow:0 1px 0 #fff;}
    #nav a, #nav2 a {
    	color: #999;
    	text-shadow: 0 1px 1px #FFF;
    }
    #nav a:hover, #nav a:active, #nav2 a:hover, #nav2 a:active {
    	color: #E1007D;
    	text-shadow:0 0 20px #FF66AA;
    }
    #nav #nav-active, #nav2 #nav:active {color:#FE008F; font-weight: normal;  text-shadow:0 0 10px #FF66AA;}
    #nav a img, #nav2 a img {vertical-align: middle; height: 26px; width: 26px;}

    #tray {background-color:#BFBFBF;}
    #tray li a {color:#555; text-shadow:0 1px 0 #fff;}
    #tray li#tray-active a {background-color:#DD1600; color: #FFF; text-shadow:0 0 10px #FFF;}
    #tray li a:hover {background-color:#9F9F9F;  color: #FFF; text-shadow:0 0 10px #FFF;}

        #search #search-input {background-color:#FFF;}
        #search #search-input #keywords {color:#404040;}
        #search #search-submit input {background: transparent url("/images/search-submit.gif") top left no-repeat; width:29px; height: 30px; border: 0; color: rgba(0,0,0,0);}

    #footer {color:#9f9f9f;}
    #footer a {color:#DDD; font-weight: normal; text-shadow: 0 0 10px #999;}
    #footer a:hover {color:#FFF; text-shadow: 0 0 10px #DDD;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#col-top, #col-bottom, #col {background-color:#E9FAFF;}

#cols3 .col {
	background: url("/images/header-bg.png") 50% 50% repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#cols3 .col h3 {
	background-color:#F5F5F5; 
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background: url("/images/gray-bg.gif") top left repeat-x; 
	padding: 5px 10px;
	font-size: 1em/1;
	font-weight: normal;
}
#cols3 .col h3 a {
	text-decoration: none;
	text-shadow:0 1px 0 #fff;
}
#cols3 .col h3 a:hover {color:#000;}
#cols3 .col-more {}

#cols2 #col-left .title h4, #cols2 #col-right h4 {color:#DD1600;}
#cols2 #col-left .title h4, #cols2 #col-left .title span {background-color:#FFF;}
#cols2 #col-left .article {color:#DD1600;}
#cols2 #col-left a:hover.article {color:#000;}

#cols2 #col-right {background-color:#F5F5F5;}
#cols2 #col-right h4 span {background-color:#F5F5F5;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.high {color:#777}



