<!DOCTYPE html>
<html>
<head>
  <%= hook :admin_inside_head do %>
    <%= render :partial => "shared/admin_head" %>
  <% end %>
</head>
<body class='yui-skin-sam admin'>
<!--[if IE 7]>
<div id='IE7'>
<![endif]-->
<div id='wrapper'>

  <div id="header">

    <%= hook :admin_login_navigation_bar %>

    <a href="<%= admin_path %>"><%= image_tag Spree::Config[:admin_interface_logo], :id => 'logo' %></a>
    <h1><%= link_to t("administration"), admin_path %></h1>
    <div id="progress"><%= image_tag 'progress.gif' %> <%= t('loading') %>...</div>
  </div>

  <div id="admin-menu">
    <ul>
      <%= hook :admin_tabs do %>
        <%= render 'admin/shared/tabs' %>
      <% end %>
    </ul>
    <br class="clear" />
  </div>

  <div id="sub-menu">
    <%= yield :sub_menu %>
    <br class="clear" />
  </div>

  <div class="<%= 'with-sidebar ' if content_for?(:sidebar) %> clear tile_bg" id="content">


    <% if flash[:error] %>
    <div class="flash error"><%= flash[:error] %></div>
    <% end %>
    <% if self.notice %>
    <div class="flash notice"><%= self.notice %></div>
    <% end %>


    <%= yield %>

    <% if content_for?(:sidebar) %>
      <br class='clear' />
      <div id="sidebar">
          <%= yield :sidebar %>
      </div>
    <% end %>

  </div>

  <div id="footer">
    <p><%= t("icons_by") %> <a href='http://pinvoke.com'>pInvoke</a></p>
  </div>


</div>
<!--[if IE]>
</div>
<![endif]-->

<%= hook :admin_footer_scripts do %>
  <%= javascript_include_tag 'admin/unobtrusive_handlers' %>
<% end %>
</body>
</html>
