<!DOCTYPE html>
<html>
<head>
	<%= hook :inside_head do %>
	  <%= render :partial => 'shared/head'%>
	<% end %>
</head>

<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
 
<body class="<%= @body_class %>" id="<%= @body_id %>">
	
	<div id="wrapper">
				
		<div id="header">
			<div class="container">
				<%= render 'shared/nav_bar' %>
			</div>
		</div>
		
		<div id="body">
			<div class="container">
				
				<%= render :partial => 'shared/tray' %>
				
				<% if flash.notice %>
				<div class="flash notice"><%= flash.notice %></div>
				<% end %>
				<% if flash[:error] %>
				<div class="flash errors"><%= flash[:error] %></div>
				<% end %>
				
				<% if @current_controller == "pages" %>
					<%= yield %>
				<% else %>
					<div class="main-block">
						<div id="content">
							<div class="header"><h1><%= yield :title %></h1><%= yield :content_header %></div>
							<%= breadcrumbs(@taxon) if @taxon %>		                                          
					    	        <%= yield %>
					        </div>
					        <div id="sidebar">
					    	<%= yield :sidebar %>  	
						</div>
					</div>
				<% end %>
			</div>
		</div>
		
	</div>
	
	<div id="footer">
		<div class="container">
			<%= render :partial => 'shared/footer'%>
		</div>
	</div>
	
</body>
</html>
