<% content_for :title, t("what_is_a_cvv") %>

<div class="cvv">
  <p>For Visa, MasterCard, and Discover cards, the card code is the last 3 digit number located on the back of your card on or above your signature line. For an American Express card, it is the 4 digits on the FRONT above the end of your card number.</p>
  <p>To help reduce fraud in the card-not-present environment, credit card companies have introduced a card code program. Visa calls this code Card Verification Value (CVV); MasterCard calls it Card Validation Code (CVC); Discover calls it Card ID (CID). The card code is a three- or four- digit security code that is printed on the back of cards. The number typically appears at the end of the signature panel.</p>
  <div class="cid-caption">Visa</div>
  <%= image_tag "visa_cid.gif" %>
  <div class="cid-caption">Master Card</div>
  <%= image_tag "master_cid.jpg" %>
  <div class="cid-caption">American Express</div>
  <%= image_tag "amex_cid.gif" %>
  <div class="cid-caption">Discover</div>  
  <%= image_tag "discover_cid.gif" %>
</div> 

</div>
	</div>
	
 	<%= render :partial => 'shared/footer'%>

</body>
</html>
