<h3><%= t(:order_summary) %></h3>
<table>
  <tbody>
    <tr>
      <td><strong><%= t('item_total') %>:</strong></td>
      <td><strong><%= number_to_currency order.item_total %></strong></td>
    </tr>
    <tbody id="summary-order-charges">
      <% order.adjustments.each do |adjustment| %>
        <tr>
          <td><%= adjustment.label.to_s %>: </td>
          <td><%= adjustment.amount >= 0 ? number_to_currency(adjustment.amount) : "-#{number_to_currency(adjustment.amount.abs)}"%></td>
        </tr>
      <% end %>
    </tbody>
    <tr>
      <td><strong><%= t('order_total') %>:</strong></td>
      <td><strong><span id='summary-order-total'><%= number_to_currency @order.total %></span></strong></td>
    </tr>
  </tbody>
</table>
