<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= hook :inside_head do %>
  <%= render :partial => 'shared/head' %>
<% end %>
</head>
<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>" id="<%= @body_id %>">

	<% if flash.notice %>
	<div class="flash notice"><%= flash.notice %></div>
	<% end %>
	<% if flash[:error] %>
	<div class="flash errors"><%= flash[:error] %></div>
	<% end %>
	
	<div id="header">
		<div class="wrapper">
  			<%= logo %>
			<%= render 'shared/nav_bar' %>
		</div>
	</div>
	
	<div id="body">
		<div class="wrapper">
			<!-- Tray -->
			<div id="tray">
				<!--
				<% if content_for?(:tray) %>
				<div id="sidebar">
				  <%= hook :tray do %>
				    <%= yield :tray %>
				  <% end %>
				</div>
				<% end %>
				-->
			    <%= render :partial => 'shared/tray' %>
			   
			</div> <!-- /tray -->
			<%= breadcrumbs(@taxon) if @taxon %>
			<%= yield %>
		</div>
	</div>
	
 	<%= render :partial => 'shared/footer'%>

</body>
</html>
