เรียน คุณ<%= "#{@order.ship_address.firstname} #{@order.ship_address.lastname}" %>


การสั่งซื้อของคุณได้ถูกยกเลิกแล้ว

============================================================
สรุปรายการสั่งซื้อ [ถูกยกเลิกแล้ว]
============================================================
<% for item in @order.line_items %>
<%=item.variant.sku %> <%=item.variant.product.name%> <%= variant_options(item.variant) %> (<%=item.quantity%>) @ <%= number_to_currency(item.price, :precision => 0, :locale => :th) %> = <%= number_to_currency(item.price * item.quantity, :precision => 0, :locale => :th) %>
<% end %>
============================================================
ราคาสินค้า: <%= number_to_currency(@order.item_total, :precision => 0, :locale => :th) %>
<% @order.adjustments.each do |adjustment| %>
<%= "#{adjustment.label}: #{number_to_currency(adjustment.amount, :precision => 0, :locale => :th)}"%>
<% end %>
ราคารวม: <%= number_to_currency(@order.total, :precision => 0, :locale => :th)%>


ด้วยความนับถือ

Teen Star โดย บริษัท ทวีทร จำกัด
<%= root_url %>
อีเมลส์: mktg1@taveetorn.com  mktg3@taveetorn.com
Call center 082-555-4646, 082-555-9696