<div id="footer">
<div class="wrapper">
  <div class="f-left">
    <%= hook :footer_left do %>
    <p>
      <%= t("powered_by") %> <a href="http://spreecommerce.com/">Spree</a>
    </p>
    <% end %>
  </div>
  <div class="f-right">
    <%= hook :footer_right do %>
      <p>Copyright <span class="arial">&copy;&nbsp;</span>2011 <strong><a href="#">Teenstar</a></strong>, All Rights Reserved <span class="arial">&reg;</span></p>
    <% end %>   
  </div>
</div>   
</div>
<%= render 'shared/google_analytics' %>
