<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%== meta_data_tags %>
<%== stylesheet_tags %> 
<%= csrf_meta_tag %>
<%= javascript_include_tag 'jquery-1.6.1.min', 'jquery.slides.min.js', 'jquery.validate.min.js', 'jquery.opacityrollover.js', 'jquery.galleriffic.js', 'rails', 'application', :cache => 'jquery-core' %>
<% unless I18n.locale.to_s[0..1] == 'en' %>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>


<%= yield :head %>
