

<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>
 
<% if products.any? %>
<div id="thumbs" class="navigation">
    <ul class="thumbs noscript">
    	
    	<% products.each do |product| %>
	    	<% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
	    	
	        <li id="product_<%= product.id %>">
		        <%= hook :products_list_item, {:product => product} do %>
		            <!--<a class="thumb" name="optionalCustomIdentifier" href="" title="your image title">
		            </a>-->
		            
		            <%= link_to small_image(product, :alt => 'img alt'), large_image_url(product), :class => 'thumb', :title => product.name %>
		            
		            <div class="caption">
		                <%= link_to raw('
		              	  <div class="caption-title">' + product.name + '</div> 
		              	  <div class="caption-price price selling">' + product_price(product) + '</div>
		                '), product, :class => 'info' %>
		            </div>
	            <% end %>
	        </li>
	        
	        <% end %>
        <% end %>
    </ul>
</div>
<div id="gallery" class="content">
	<div id="loading" class="loading"></div>
	<div id="slideshow" class="slideshow"></div>
	<div id="caption" class="caption"></div>
	<div id="controls" class="controls"></div>
</div>
<% end %>
 

<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
      
%>

<%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>
 
<script type="text/javascript">
$(function(){

	$('div.navigation').css({'width' : '340px', 'float' : 'left'});
    $('div.content').css('display', 'block');

	// Initially set opacity on thumbs and add
	// additional styling for hover effect on thumbs
	var onMouseOutOpacity = 0.67;
	$('#thumbs ul.thumbs li').opacityrollover({
		mouseOutOpacity:   onMouseOutOpacity,
		mouseOverOpacity:  1.0,
		fadeSpeed:         'fast',
		exemptionSelector: '.selected'
	});
	
	// Initialize Advanced Galleriffic Gallery
	var gallery = $('#thumbs').galleriffic({
		delay:                     2500,
		numThumbs:                 9,
		preloadAhead:              10,
		enableTopPager:            true,
		enableBottomPager:         true,
		maxPagesToShow:            7,
		imageContainerSel:         '#slideshow',
		controlsContainerSel:      '#controls',
		captionContainerSel:       '#caption',
		loadingContainerSel:       '#loading',
		renderSSControls:          true,
		renderNavControls:         true,
		playLinkText:              'Play Slideshow',
		pauseLinkText:             'Pause Slideshow',
		prevLinkText:              'Previous Product',
		nextLinkText:              'Next Product',
		nextPageLinkText:          'Next',
		prevPageLinkText:          'Prev',
		enableHistory:             false,
		autoStart:                 false,
		syncTransitions:           true,
		defaultTransitionDuration: 900,
		onSlideChange:             function(prevIndex, nextIndex) {
			// 'this' refers to the gallery, which is an extension of $('#thumbs')
			this.find('ul.thumbs').children()
				.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
				.eq(nextIndex).fadeTo('fast', 1.0);
		},
		onPageTransitionOut:       function(callback) {
			this.fadeTo('fast', 0.0, callback);
		},
		onPageTransitionIn:        function() {
			this.fadeTo('fast', 1.0);
		}
	});
});
</script>