
<!--<li class="cart-indicator"><%= link_to_cart %></li>-->

<!-- Navigation -->
<div id="nav">
    <%= link_to t("home") , root_path %> <span>|</span>
    <%= link_to t(:about), contact_path %> <span>|</span>
    <%= link_to t(:contact_us), contact_path %> <span>|</span>
    <%= link_to t(:frequently_asked_questions), faq_path %> <span>|</span>
    <%= link_to image_tag('icons/th.gif'), locale_set_path(:locale => :th) %> <span>|</span> 
    <%= link_to image_tag('icons/en.gif'), locale_set_path(:locale => :en) %>
</div> <!-- /nav -->