<ul>
    <li id="tray-active"><%= link_to t("home") , root_path %></li> 
    <li><a href="#">Your Own Business</a></li>
    <li><%= link_to t(:shopping), products_path %></li>
    <li><a href="#">Promotions</a></li>
    <li><%= hook :shared_login_bar %></li>
</ul>


<!-- Search -->
<div id="search" class="box">
	<%= render 'shared/search' %>
</div> <!-- /search -->
