<% content_for :title, t("editing_user") %>

<%= render "shared/error_messages", :target => @user %>

<%= form_for(@user, :html => { :method => :put }) do |f| %>
  <%= render 'shared/user_form', :f => f %>
  <p>
  <button type="submit" class="btn update">
  	<%= span_tag t("save_and_continue") %>
  </button>
  </p>
<% end %>

