<div id="footer">
  <div class="left">
    <%= hook :footer_left do %>
    <p>
      <%= t("powered_by") %> <a href="http://spreecommerce.com/">Spree</a>
    </p>
    <% end %>
  </div>
  <div class="right">
    <%= hook :footer_right %>
    <%= link_to image_tag('th.png'), locale_set_path(:locale => :th) %>
    <%= link_to image_tag('us.png'), locale_set_path(:locale => :en) %>    
  </div>
</div>   
<%= render 'shared/google_analytics' %>
