<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>
 
<% if products.any? %>
<ul class="product-listing">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>">
        <%= hook :products_list_item, {:product => product} do %>
          <%= link_to small_image(product), product %>
          <% if product.normal_price > product.price %>
            <%= link_to raw(product.name + " <span class='price discounted'>#{format_price(product.normal_price)}</span> <span class='price selling'>#{product_price(product)}</span>"), product, :class => 'info' %>
          <% else %>
            <%= link_to raw(product.name + " <span class='price selling'>#{product_price(product)}</span>"), product, :class => 'info' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>
 
<hr class="space" />
 
<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
      
%>

<%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>
 
<hr class="space" />
