<% if get_recently_viewed_products.any? %>
  <h3><%= t :recently_viewed_products %></h3>
  <ul>
    <% get_recently_viewed_products.each do |p| %>
      <li>
        <%= link_to mini_image(p), p %>
        <%= link_to p.name, p %>
      </li>
    <% end -%>
  </ul>
<% end %>
