<div class="col">
	
  <h3><%= link_to raw(accurate_title), @product, :class => 'info' %></h3>
      
  <p class="nom t-center"><%= link_to small_image(@product), @product %></p>

  <div class="col-text">
    <%= hook :product_description do %>
      <%= product_description(@product) rescue t("product_has_no_description") %>
    <% end %>
    <%= hook :product_properties do %>
      <%= render 'properties' %>
    <% end %>
  </div> <!-- /col-text -->

  <div class="col-more">
    <%= hook :cart_form do %>
      <div id="cart-form">
        <%= render 'cart_form' %>
      </div>
    <% end %> 	
    <a href="#" class="btn info"><%= span_tag t(:read_more) %></a>
    <a href="#" class="btn add-to-cart"><%= span_tag t(:purchase) %></a>
    <div class="fix"></div>
  </div>
	
</div> <!-- /col -->
