<% if !@product.taxons.blank? %>
	<% content_for :sidebar do %>
		<h3 class="header"><%= t('look_for_similar_items')%></h3>            
		<%= hook :product_taxons do %>
			<div class="block">
			  <ul class="add-nav">
			  	<% @product.taxons.each do |taxon| %>
			  	  <li><%= link_to span_tag(taxon.name), "/t/#{taxon.permalink}" %></li>
			  	<% end %>
			  </ul>
		 	  <div class="b"></div>
			</div>  
		<% end %>
	<% end %>
<% end %>
