<% content_for :title, t(:shopping) %>

<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <% if "products" == @current_controller && @taxon %>
      <%#= render "shared/filters" %>
    <% else %>
      <%= render "shared/taxonomies", :taxon => @taxon %>
    <% end %>
  <% end %>
<% end %>
   	
<% if params[:keywords] %>

  <%= hook :search_products do %> 
    <%= hook :search_results do %>
      <% if @products.empty? %>
        <%= t(:no_products_found) %>
      <% else %>
        <%= render "shared/products", :products => @products, :taxon => @taxon %>
      <% end %>
    <% end %>
  <% end %>
 
<% else %>

  <%= hook :homepage_products do %>
     <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>


<% end %>     
