<% @body_id = 'product-details' %>
<% if product_price(@product) 
	price_box = ''
	price_box += '<span class="regular-price">'
	price_box += '<span class="price">#{}</span>'
end %>

<% content_for :title, accurate_title %>
<% content_for :content_header do %>
	<% if product_price(@product) %>
		<%= hook :product_price do %>
	      <div class="price-box">
		  <p class="prices">
		    <span class="price selling"><%= product_price(@product) %></span>
		    <% if @product.normal_price > @product.price %>
		      <span class='price discounted'><%= format_price(@product.normal_price) %></span>
		    <% end %>          
		  </p>
		  </div>
		<% end %>
	<% end %>
<% end %>


<div class="columns">
	<div id="product-images">
	  <%= hook :product_images do %>
	  <div id="main-image">
	    <%= render 'image' %>
	  </div>
	  <div id="thumbnails">
	    <%= render 'thumbnails', :product => @product %>
	  </div>
	  <% end %>
	</div>
	
	<div id="product-description">
	  <%= hook :product_description do %>
	    <%= product_description(@product) rescue t("product_has_no_description") %>
	  <% end %>
	  <%= hook :product_properties do %>
	    <%= render 'properties' %>
	  <% end %>
	  <%= hook :cart_form do %>
	    <div id="cart-form">
	      <%= render 'cart_form' %>
	    </div>
	  <% end %>
	</div>
</div>

<%= render 'taxons' %>
