<h2><%= t('over_safety_stock_products') %></h2>
<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('sku') %></th> 
      <th><%= t('safety_stock') %></th>
      <th><%= t('in_stock')%></th>
    </tr>
  </thead>
  <% @over_safety_stock_products.each do |product| %>
    <tr>
      <td><%= link_to product.name, edit_admin_product_path(product) %></td>
      <td><%= link_to product.master.sku, edit_admin_product_path(product) %></td>
      <td><%= product.safety_stock %></td>
      <td><%= product.on_hand %></td>
    </tr>
  <% end %>
  <% @over_safety_stock_variants.each do |variant| %>
    <tr>
      <td><%= link_to variant.product.name, edit_admin_product_variant_path(variant.product, variant) %></td>
      <td><%= link_to variant.sku, edit_admin_product_variant_path(variant.product, variant) %></td>
      <td><%= variant.safety_stock %></td>
      <td><%= variant.on_hand %></td>      
    </tr>
  <% end %>
</table>