<tr class="<%= cycle('', 'alt') %>">
  <td>
    <%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
    <%= hook :cart_item_image, locals do %>
      <% if variant.images.length == 0 %>
        <%= mini_image(variant.product) %>
      <% else %>
        <%=  image_tag variant.images.first.attachment.url(:mini)   %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_description, locals do %>
      <h4><%= link_to variant.product.name,  product_path(variant.product) %></h4>
      <%= variant_options variant %>
      <%= raw(truncate(variant.product.description, :length => 100, :omission => "...")) %>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_price, locals do %>
      <span class="price selling"><%= product_price(variant.product) %></span>
      <% if variant.product.normal_price > variant.product.price %>
        <span class='price discounted'><%= format_price(variant.product.normal_price) %></span>
      <% end %> 
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_quantity, locals do %>
      <%= item_form.text_field :quantity, :size => 3, :class => "line_item_quantity" %>
    <% end %>
  </td>

  <td>
    <%= hook :cart_item_total, locals do %>
      <% unless line_item.quantity.nil? %>
        <span class="price selling"><%= format_price(product_price(variant.product, :format_as_currency => false) * line_item.quantity) %></span>
        <% if variant.product.normal_price > variant.product.price %>
          <span class='price discounted'><%= format_price(variant.product.normal_price * line_item.quantity) %></span>
        <% end %> 
      <% end %>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_delete, locals do %>
      <%= link_to(image_tag('/images/admin/icons/delete.png'), '#', :class => 'delete') %>
    <% end %>
  </td>

</tr>
