<% @body_id = 'cart' %>

<% content_for :title, t("shopping_cart")%>

<% if @order.line_items.empty? %>

  <%= hook :empty_cart do %>
    <p><%= t("your_cart_is_empty.") %></p>
    <p><a href="<%= products_path %>" class="shopping"><%= span_tag t(:continue_shopping) %></a></p>
  <% end %>

<% else %>
  <%= hook :outside_cart_form do %>
    <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
      <%= hook :inside_cart_form do %>

        <%= hook :cart_items do %>
          <%= render :partial => 'form', :locals => {:order_form => order_form} %>
        <% end %>

        <div id="subtotal">
          <h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
        </div>

        <p></p>

      <% end %>
    <% end %>
  <% end %>
  
  <% content_for :sidebar do %>
  <h3 class="header" class="<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>"><%= t(:menu) %></h3>            
  <div class="block">
    <ul class="add-nav">
      <li><a href="<%= checkout_path %>" class="btn-sidebar checkout"><span><%= t("checkout") %></span></a></li>
      <li><a href="<%= products_path %>" class="btn-sidebar shopping"><span><%= t("continue_shopping") %></span></a></li>	
      <li><a href="#" class="btn-sidebar update" onclick="$('form#updatecart').submit(); return false;"><span><%= t("update") %></span></a></li>
      <li>
	      <%= form_tag empty_cart_path, :method => :put, :id => "form_cart_empty" do %>
	         <a href="#" id="empty_cart" class='btn-sidebar empty'><span><%= t("empty_cart") %></span></a>
	          <% content_for :head do %>
	          	<script type="text/javascript" charset="utf-8">
	          		(function(){
	          			$(document).ready(function(){
		          			$('#empty_cart').click(function(e){
		          				$('#form_cart_empty').submit();
		          				return false;
		          			});
		          		});
	          		})(jQuery);
	          	</script>
	          <% end %>
	      <% end %>
	  </li>	  
    </ul>
  	<div class="b"></div>
  </div>  
  <% end %>

<% end %>
