<% @body_id = 'cart' %>

<% content_for :title, t("shopping_cart") %>

<%= form_for(@order, :url =>'#', :html => { :method => :put}) do |order_form| %>
  <%= render :partial => 'form', :locals => {:order_form => order_form} %>
<% end %>

<p><a href="<%= products_path %>" class="btn shopping"><%= span_tag t(:continue_shopping) %></a></p>
