<% content_for :title, accurate_title %>

<div id="order">
  <% if params.has_key? :checkout_complete %>
  	<h3><%= t('thank_you_for_your_order') %></h3>
  <% end %>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
  <p>
  
   
  
	<% content_for :sidebar do %>
		<h3 class="header" class="<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>"><%= t(:menu) %></h3>            
		<div class="block">
		   	<ul class="add-nav">
		   	    <% unless params.has_key? :checkout_complete %>
		   			<li><%= link_to span_tag(t('my_account')), account_path, :class => 'btn-sidebar account' if current_user%></li>
		   		<% end %>
		   		<li><%= link_to span_tag(t('back_to_store')), root_path, :class => 'btn-sidebar home' %></li>
		   		<li><%= link_to span_tag(t(:download_pdf)), order_path(@order, :format => :pdf), :class => 'btn-sidebar pdf' %></li>
		   	</ul>
		</div>
	<% end %>
    
  </p>
</div>