<% content_for :head do %>
	<style>
	  form p.field input[type=text], form p.field select { width: 80%; float: none; }
	  .hidden { display: none; }
	  div.inner label { width: 15%; display: inline-block; }
	  form p.field span.req { float: none; }
	</style>
<% end %>

<%= form_for @address do |f| %>
<fieldset>
  <div class="inner">
    <%= render :partial => 'addresses/form', :locals => {
      :address_name => 'address',
      :address_form => f,
      :address => @address
    } %>
  </div>
  <button type='submit' class='btn update'>
    <%= span_tag t(:update) %>
  </button>
</fieldset>
<% end %>