<h2><%= t(:accumulative_price) %></h2>
<% accumulative_price = current_user.orders.select{|o| o.payment_state == "paid"}.collect{|o| o.item_total}.inject{|sum,x| sum+x} %>
<table>
  <tbody>
    <tr>
      <td><%= t(:amount) %></td>      
      <td><%= number_to_currency accumulative_price.nil? ? 0 : accumulative_price %></td>
    </tr>
  </tbody>
</table>

<h3><%= t(:discount_promotion) %></h2>
  
<table>
  <tbody>
    <% is_found = false %>
    <% count = 0 %>
    <% Promotion::Rules::AccumulativePrice.all.each do |rule| %>    
      <% if not current_user.orders.first.nil? and rule.eligible?(current_user.orders.first) %>
        <% if not is_found %>
          <thead>
            <tr>
              <th><%= t(:name) %></th>
              <th><%= t(:description) %></th>
            </tr>
          </thead>
        <% end %> 
        <% is_found = true %>
        <tr class="<%= count%2 == 0 ? 'even' : 'odd' %>">
          <td><%= rule.promotion.name %></td>
          <td><%= rule.promotion.description %></td>
        </tr>
        <% count += 1 %>
      <% end %>
    <% end %>
    <% if not is_found %>
      <tr>
        <td><%= t(:not_found_promotion) %></td>
        <td></td>
      </tr>        
    <% end %>
  </tbody>
</table>

<p><em><%= t(:accumulative_price_note) %></em></p>