<h1>Hello Teen Star</h1>

<h2><%= link_to t(:shopping), products_path %> </h2>
<h2><%= link_to t(:contact_us), contact_path %> </h2>
<h2><%= link_to t(:frequently_asked_questions), faq_path %> </h2>
<h2><%= link_to t(:confirm_payment), confirm_payment_path %> </h2>