<%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>

<%= f.inputs do %>
  <%= f.input :title %>
  <%= f.input :slug %>
  <%= f.input :body %>
  <%= f.input :foreign_link %>
  <%= f.input :meta_keywords %>
  <%= f.input :meta_description %>
  <%= f.input :show_in_sidebar %>
  <%= f.input :show_in_header %>
  <%= f.input :show_in_footer %>
  <%= f.input :position %>
  <%= f.input :layout %>
  <%= f.input :visible %>
<% end %>

<% content_for :head do %>
	<%= javascript_include_tag :ckeditor %>
<% end %>