<h3 class="header"><a href="#"><%= t(:filters) %></a></h3>
<div class="block">

	<%= form_tag '', :method => :get, :id => 'sidebar_products_search', :class => 'search' do  %>
		<% params[:search] ||= {} %>
		<input type="hidden" name="per_page" value="<%= params[:per_page] %>"/>
		
		<% filters = @taxon ? @taxon.applicable_filters : [ProductFilters.all_taxons] %>
		
		<fieldset>
			<dl id="narrow-by-list">
			
			<% filters.each do |filter| %>
			
				<% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
				<% next if labels.empty? %>
				
				<dt class="odd"><%= filter[:name] %></dt>
				<dd class="odd">
					<ol>
					<% labels.each do |nm,val| %>
						<% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
						<li class="nowrap">
							<input type="checkbox"
							id="<%= label %>"
							name="search[<%= filter[:scope].to_s %>][]"
							value="<%= val %>"
							<%= params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />
							<label class="nowrap" for="<%= label %>"> <%= nm %> </label>
						</li>
					<% end %>
					</ol>
				</dd>
				
			<% end %>
			</dl>
			
			<%= submit_tag t(:search), :name => nil %>
		</fieldset>
	<% end %>
	<div class="b"></div>
</div>