<div class="f-left span-12">
  <%= hook :footer_left do %>
      <%= t("powered_by") %> <a href="http://spreecommerce.com/">Spree</a><br/>
    <% end %>
  </div>
  <div class="f-right span-12 last">
    <%= hook :footer_right do %>
      <p>Copyright <span class="arial">&copy;&nbsp;</span>2011 <strong><a href="#">Teenstar</a></strong>, All Rights Reserved <span class="arial">&reg;</span>
	<br/>
	<%= Impression.count %> hits (<%= Impression.unique_count %> visitors)</p>
    <% end %>   
  </div>
</div>   
</div>
<%= render 'shared/google_analytics' %>
