<title>TeenStar<%= (' | '+yield(:title)) if yield :title? %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%== meta_data_tags %>

<%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'print.css', :media => 'print' %>
<%= stylesheet_link_tag 'application.css', :cache => true %> 

<%= csrf_meta_tag %>

<!--[if lte IE 6]><%= javascript_include_tag "warning" %><script>window.onload=function(){ie6("/images/")}</script><![endif]-->
<%= javascript_include_tag :defaults, :cache => 'jquery-core' %>
<%= javascript_include_tag 'rails', 'application', 'coin-slider', 'jquery-ui', 'jquery.validate.min' %>

<% unless I18n.locale.to_s[0..1] == 'en' %>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>

<!-- Google Analytics -->
<%= analytics_init if Rails.env.production? %>

<%= yield :head %>
