<%= form_for(:user, :url => user_session_path) do |f| %>
  <div id='password-credentials'>
    <p>
      <%= f.label(:email, t("email")) %><br />
      <%= f.text_field('email', :class => 'login') %>
    </p>
    <p>
      <%= f.label :password, t("password") %><br />
      <%= f.password_field 'password', :class => 'login' %>
    </p>
  </div>
  <p>
    <label>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t('remember_me') %>
    </label>
  </p>
<p>
    <button type='submit' class='btn signin'>
      <span><%= t("log_in") %></span>
    </button>
</p>
<% end %>