<!--<% if store_menu? %>
  <%= render 'shared/store_menu' %>
<% end %>-->
<div class="span-6"><%= logo %></div>

<ul id="nav_bar">
	
	<%= hook :shared_login_bar %>
	
	<li id="header-cart" class="cart-indicator">
		<img src="/images/cart-empty.png" />
		<%= link_to_cart %>
	</li>
	
	<li id="header-search">
		<%= render 'shared/search' %>
	</li>
	
</ul>

<div id="header-cart-total" class="cart-indicator">
	<%= link_to_cart_total %>
</div>	