<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%== meta_data_tags %>
<%== stylesheet_tags %> 
<%= csrf_meta_tag %>
<%= javascript_include_tag 'jquery-1.6.1.min', 'jquery-ui-1.8.10.min.js', 'jquery.mousewheel.min.js', 'jquery.flip.min.js', 'jquery.colorbox.min.js', 'jquery.validate.min.js', 'rails', 'application', :cache => 'jquery-core' %>

<script type="text/javascript">
	/*
	the images preload plugin
	*/
	(function($) {

		$.fn.preload = function(options) {
			var opts 	= $.extend({}, $.fn.preload.defaults, options);
			o			= $.meta ? $.extend({}, opts, this.data()) : opts;
			var c		= this.length,
				l		= 0;
			return this.each(function() {
				var $i	= $(this);
				$('<img/>').load(function(i){
					++l;
					if(l == c) o.onComplete();
				}).attr('src',$i.attr('src'));	
			});
		};
		$.fn.preload.defaults = {
			onComplete	: function(){return false;}
		};
		
	})(jQuery);
</script>
<script type="text/javascript">
	$(function() {
	
		/*$("a[rel='box']").colorbox({
			height: '100%',
			width: '100%'
		});*/
	
		var $tf_bg				= $('#tf_bg'),
			$tf_bg_images		= $tf_bg.find('img'),
			$tf_bg_img			= $tf_bg_images.eq(0),
			$tf_thumbs			= $('#tf_thumbs'),
			total				= $tf_bg_images.length,
			current				= 0,
			$tf_content_wrapper	= $('#tf_content_wrapper'),
			$tf_next			= $('#tf_next'),
			$tf_prev			= $('#tf_prev'),
			$tf_loading			= $('#tf_loading');
		
		//preload the images				
		$tf_bg_images.preload({
			onComplete	: function(){
				$tf_loading.hide();
				init();
			}
		});
		
		//shows the first image and initializes events
		function init(){
			//get dimentions for the image, based on the windows size
			var dim	= getImageDim($tf_bg_img);
			//set the returned values and show the image
			$tf_bg_img.css({
				width	: dim.width,
				height	: dim.height,
				left	: dim.left,
				top		: dim.top
			}).fadeIn();
		
			//resizing the window resizes the $tf_bg_img
		$(window).bind('resize',function(){
			var dim	= getImageDim($tf_bg_img);
			$tf_bg_img.css({
				width	: dim.width,
				height	: dim.height,
				left	: dim.left,
				top		: dim.top
			});
		});
		
			//expand and fit the image to the screen
			$('#tf_zoom').live('click',
				function(){
				if($tf_bg_img.is(':animated'))
					return false;
		
					var $this	= $(this);
					if($this.hasClass('tf_zoom')){
						resize($tf_bg_img);
						$this.addClass('tf_fullscreen')
							 .removeClass('tf_zoom');
					}
					else{
						var dim	= getImageDim($tf_bg_img);
						$tf_bg_img.animate({
							width	: dim.width,
							height	: dim.height,
							top		: dim.top,
							left	: dim.left
						},350);
						$this.addClass('tf_zoom')
							 .removeClass('tf_fullscreen');	
					}
				}
			);
			
			//click the arrow down, scrolls down
			$tf_next.bind('click',function(){
				if($tf_bg_img.is(':animated'))
					return false;
					scroll('tb');
			});
			
			//click the arrow up, scrolls up
			$tf_prev.bind('click',function(){
				if($tf_bg_img.is(':animated'))
				return false;
				scroll('bt');
			});
			
			//mousewheel events - down / up button trigger the scroll down / up
			$(document).mousewheel(function(e, delta) {
				if($tf_bg_img.is(':animated'))
					return false;
					
				if(delta > 0)
					scroll('bt');
				else
					scroll('tb');
				return false;
			});
			
			//key events - down / up button trigger the scroll down / up
			$(document).keydown(function(e){
				if($tf_bg_img.is(':animated'))
					return false;
				
				switch(e.which){
					case 38:	
						scroll('bt');
						break;	

					case 40:	
						scroll('tb');
						break;
				}
			});
		}
		
		//show next / prev image
		function scroll(dir){
			//if dir is "tb" (top -> bottom) increment current, 
			//else if "bt" decrement it
			current	= (dir == 'tb')?current + 1:current - 1;
			
			//we want a circular slideshow, 
			//so we need to check the limits of current
			if(current == total) current = 0;
			else if(current < 0) current = total - 1;
			
			//flip the thumb
			$tf_thumbs.flip({
				direction	: dir,
				speed		: 400,
				onBefore	: function(){
					//the new thumb is set here
					var content	= '<span id="tf_zoom" class="tf_zoom"></span>';
					content		+='<img src="' + $tf_bg_images.eq(current).attr('longdesc') + '" alt="Thumb' + (current+1) + '"/>';
					$tf_thumbs.html(content);
			}
			});

			//we get the next image
			var $tf_bg_img_next	= $tf_bg_images.eq(current),
				//its dimentions
				dim				= getImageDim($tf_bg_img_next),
				//the top should be one that makes the image out of the viewport
				//the image should be positioned up or down depending on the direction
					top	= (dir == 'tb')?$(window).height() + 'px':-parseFloat(dim.height,10) + 'px';
					
			//set the returned values and show the next image	
				$tf_bg_img_next.css({
					width	: dim.width,
					height	: dim.height,
					left	: dim.left,
					top		: top
				}).show();
				
			//now slide it to the viewport
				$tf_bg_img_next.stop().animate({
					top 	: dim.top
				},1000);
				
			//we want the old image to slide in the same direction, out of the viewport
				var slideTo	= (dir == 'tb')?-$tf_bg_img.height() + 'px':$(window).height() + 'px';
				$tf_bg_img.stop().animate({
					top 	: slideTo
				},1000,function(){
				//hide it
					$(this).hide();
				//the $tf_bg_img is now the shown image
					$tf_bg_img	= $tf_bg_img_next;
				//show the description for the new image
					$tf_content_wrapper.children()
									   .eq(current)
								       .show();
		});
			//hide the current description	
				$tf_content_wrapper.children(':visible')
								   .hide()
		
		}
		
		//animate the image to fit in the viewport
		function resize($img){
			var w_w	= $(window).width(),
				w_h	= $(window).height(),
				i_w	= $img.width(),
				i_h	= $img.height(),
				r_i	= i_h / i_w,
				new_w,new_h;
			
			if(i_w > i_h){
				new_w	= w_w;
				new_h	= w_w * r_i;
				
				if(new_h > w_h){
					new_h	= w_h;
					new_w	= w_h / r_i;
				}
			}	
			else{
				new_h	= w_w * r_i;
				new_w	= w_w;
			}
			
			$img.animate({
				width	: new_w + 'px',
				height	: new_h + 'px',
				top		: '0px',
				left	: '0px'
			},350);
		}
		
		//get dimentions of the image, 
		//in order to make it full size and centered
		function getImageDim($img){
			var w_w	= $(window).width(),
				w_h	= $(window).height(),
				r_w	= w_h / w_w,
				i_w	= $img.width(),
				i_h	= $img.height(),
				r_i	= i_h / i_w,
				new_w,new_h,
				new_left,new_top;
			
			if(r_w > r_i){
				new_h	= w_h;
				new_w	= w_h / r_i;
			}
			else{
				new_h	= w_w * r_i;
				new_w	= w_w;
			}


			return {
				width	: new_w + 'px',
				height	: new_h + 'px',
				left	: (w_w - new_w) / 2 + 'px',
				top		: (w_h - new_h) / 2 + 'px'
			};
		}
	});
</script>

</head>
<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>" id="<%= @body_id %>">	
	
	<% if products.empty? %>
	  <%= t(:no_products_found) %>
	<% elsif params.key?(:keywords) %>
	  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
	<% end %>
	 
	<% if products.any? %>
		<div id="tf_loading" class="tf_loading"></div>
		<div id="tf_bg" class="tf_bg">
		
			<% products.each do |product| %>
			
			  <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
			  	
			  	<img src="<%= large_image_url(product) %>" alt="Image 1" longdesc="<%= small_image_url(product) %>" />
			  	
			  <% end %>
			<% end %>	
			<div class="tf_pattern"></div>
		</div>
		<div id="tf_content_wrapper" class="tf_content_wrapper">
	
			  <% products.each do |product| %>
			  
			    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
			    
			      <div class="tf_content" id="content_<%= product.id %>">
			      
			        <%= hook :products_list_item, {:product => product} do %>
			       	  <%= link_to raw('<h3>'+product.name+'</h3>'), product, {:class => 'info', :rel => "box"} %>
			       	  <div>
				       	  <%= product_description(product) rescue t("product_has_no_description") %>
				       	  <hr />
				          <% if product.normal_price > product.price %>
				           	<%= link_to raw("<span class='price discounted'>#{format_price(product.normal_price)}</span><span class='price selling'>#{product_price(product)}</span>"), product, :class => 'info fleft', :rel => "box" %>
				          <% else %>
				            <%= link_to raw("<span class='price selling'>#{product_price(product)}</span>"), product, :class => 'info fleft', :rel => "box" %>
				          <% end %>
				          <div style="display: none;">
				          <%= hook :cart_form do %>
				            <div id="cart-form">
				              <%= render 'products/cart_form', :@product => product %>
				            </div>
				          <% end %>
				          </div>
				       	  <%= link_to span_tag(t(:read_more)), product, :class => "btn info fright", :rel => "box" %>

				       	  <div class="clearfix"></div>
				      </div>
			        <% end %>
			      </div>
			    <% end %>
			  <% end %>

		</div>

		<div id="tf_thumbs" class="tf_thumbs">
			<span id="tf_zoom" class="tf_zoom"></span>
			<img src="<%= small_image_url(products.first) %>" alt="Thumb1"/>
		</div>

		<div id="tf_next" class="tf_next"></div>
		<div id="tf_prev" class="tf_prev"></div>
	
	<% end %>
	
	<% if flash.notice %>
	<div class="float-flash notice"><%= flash.notice %></div>
	<% end %>
	<% if flash[:error] %>
	<div class="float-flash errors"><%= flash[:error] %></div>
	<% end %>
	

	<div id="nav2">
	<%= link_to t("home") , root_path %> <span>|</span>
	<%= link_to t(:about), contact_path %> <span>|</span>
	<%= link_to t(:contact_us), contact_path %> <span>|</span>
	<%= link_to t(:frequently_asked_questions), faq_path %> <span>|</span>
	<%= link_to image_tag('icons/th.gif'), locale_set_path(:locale => :th) %> <span>|</span> 
	<%= link_to image_tag('icons/en.gif'), locale_set_path(:locale => :en) %> <span>|</span>
	<%= link_to_cart %>
	</div>
	<div class="description">
		<span>Use keys &uarr; and &darr; or the wheel of the mouse to navigate. </span> 
	</div>
	
	<h1 id="logo"><a href="./" title="[Go to homepage]"><img src="images/teenstar_logo.png" alt="" /></a></h1>
		
</body>
</html>