<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>
 
<% if products.any? %>
<ul class="collection">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>">
      	<%= hook :products_list_item, {:product => product} do %>
	      	<div class="image">
	      		<%= link_to collection_image(product), product %>
	      	</div>
	      	<div class="ribbon-wrapper">
	      		<div class="ribbon-front">
	      			<span class="price selling"><%= product_price(product) %></span>
	      			<% if product.normal_price > product.price %>
	      			  <span class='price discounted'><%= format_price(product.normal_price) %></span>
	      			<% end %> 
	      		</div>
	      		<div class="ribbon-edge-topright"></div>
	      		<div class="ribbon-edge-bottomright"></div>
	      		<div class="ribbon-back-right"></div>
	      	</div>
	      	<p>
	       		<%= link_to raw(product.name), product, :class => '' %>
	       	</p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>
 
<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
 	%> 
	<div class="switcher-block">
		<div class="t"></div>
		<div class="holder">
			
			<%= will_paginate(paginated_products,
			                 :previous_label => "&#171; #{t('previous')}",
			                 :next_label => "#{t('next')} &#187;") %>
			
	   	</div>
	</div>  
<% end %> 