<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Taxon.roots  %> 
<%= form_tag products_url, :method => :get do %>
<!--  <%= select_tag :taxon, 
        options_for_select([[t(:all_departments), '']] + 
                              @taxons.map {|t| [t.name, t.id]}, 
                            @taxon ? @taxon.id : params[:taxon]) %>
                            -->
  
  <div>
  	<div id="search-input"><span class="noscreen">Search:</span><%= text_field_tag :keywords, params[:keywords] %></div>
  	<div id="search-submit"><%= submit_tag t(:search), :name => nil, :value => '' %></div>
  </div>
<% end %>
<!--
<form action="#" method="get">
        <div id="search-input"><span class="noscreen">Search:</span><input type="text" size="30" name="" value="Search" /></div>
        <div id="search-submit"><input type="image" src="images/search-submit.gif" value="OK" /></div>
    </div>
</form>element.style
-->