<% get_taxonomies.each do |taxonomy| %>
<h3 class="header" class="<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>">
	<%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name.singularize), seo_url(taxonomy.root), :class => 'root' %>
</h3>            
<div class="block">
   	<ul class="add-nav">
   		<% taxonomy.root.children.each do |taxon| %>
   		  <li<%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>>
   		    <%= link_to content_tag(:span, taxon.name), seo_url(taxon) %>
   		  </li>
   		<% end %>
    </ul>
	<div class="b"></div>
</div>
<% end %>
