<ul id="tray">
    <li><%= link_to t("home") , root_path, :class => ('active' if @current_controller == "pages") %></li>
    <% Page.header_links.each do |page| %>
    	<li><%= link_to t(page.title.downcase.gsub(' ','_')), page.link %></li>
    <% end %>
    <li><%= link_to t(:shopping), products_path(:per_page => 6), :class => ('active' if @current_controller == "products")%></li>
    <!-- <li><a href="#"><%= t(:promotions)%></a></li> -->
    <li><%= link_to t(:confirm_payment), confirm_payment_path %></li>
   	<li><%= link_to t(:contact_us), contact_path, :class => ('active' if @current_controller == "contacts") %></li>
   	<li><%= link_to t(:frequently_asked_questions), faq_path, :class => ('active' if @current_controller == "faqs") %></li>
</ul>
<!--
    <%= link_to image_tag('icons/th.gif'), locale_set_path(:locale => :th) %> <span>|</span> 
    <%= link_to image_tag('icons/en.gif'), locale_set_path(:locale => :en) %>
-->
      
