<%= breadcrumbs(@taxon) if @taxon %>

<!-- Carousel -->
<div id="carousel" class="span-24 bloc curve last">
	<div class="side">
		<ul>
			<li><a href="#" class="cs-button-slider" id="cs-button-slider-1"><%= Taxon.find(1001).name %></a></li>
			<li><a href="#" class="cs-button-slider" id="cs-button-slider-2"><%= Taxon.find(1003).name %></a></li>
			<li><a href="#" class="cs-button-slider" id="cs-button-slider-3"><%= Taxon.find(1002).name %></a></li>
			<li><a href="#" class="cs-button-slider" id="cs-button-slider-4"><%= Taxon.find(1004).name %></a></li>
		</ul>
	</div>
	<div id="slider" class="content last">
		<a href="<%=seo_url(Taxon.find(1001))%>">
		    <img src="/assets/categories/bottles/carousel/bottles.jpg" />
		</a>
		<div>
		 	<h1 class="box-title"><span class="f">Bottles</span></h1>
		    <h2 class="box-title">Various sizes</h2>
		    <%= link_to t(:view_our_collection), seo_url(Taxon.find(1001)), :class => 'button' %>
		</div>	
		<a href="<%=seo_url(Taxon.find(1003))%>">
		    <img src="/assets/categories/sets/carousel/sets.jpg" />
		</a>
		<div>
		    <h1 class="box-title"><span class="f">Sets</span></h1>
		    <h2 class="box-title">Fits your needs</h2>
		    <%= link_to t(:view_our_collection), seo_url(Taxon.find(1003)), :class => 'button' %>
		</div>
		<a href="<%=seo_url(Taxon.find(1002))%>">
		    <img src="/assets/categories/perfumes/carousel/perfumes.jpg" />
		</a>	
		<div>
		   	<h1 class="box-title"><span class="f">Perfumes</span></h1>
		   	<h2 class="box-title">Large scale of emotions</h2>
		   	<%= link_to t(:view_our_collection), seo_url(Taxon.find(1002)), :class => 'button' %>
		</div>
		<a href="<%=seo_url(Taxon.find(1004))%>">
		    <img src="/assets/categories/miscellaneous/carousel/miscellaneous.jpg" />
		</a>	
		<div>
		   	<h1 class="box-title white"><span class="f">Miscellaneous</span></h1>
		   	<h2 class="box-title">Let's decorate !</h2>
		   	<%= link_to t(:view_our_collection), seo_url(Taxon.find(1004)), :class => 'button' %>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$('#slider').coinslider({ 
		width: 650,
		height: 316,
		delay: 4000 
	});
</script>

<div class="span-15">

	<h2 class="box-title">Get <span class="f">TeenStar-ted !</span> <%= t(:business_set) %></h2>
	
	<% if @products.empty? %>
		<div class="home-product span-15">
	  		<%= t(:no_products_found) %>
	  	</div>
	<% end %>
	
	<% if @products.any? %>
		<% @products.each do |product| %>
		   	<% @id = product.id %>
		   	
			<div class="home-product span-5 <%= 'last' if product == @products.last %>">
				<div class="picture">
					<%= link_to product_image(product), product %>
				</div>
				
				<% if product_price(product) %>
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<%= hook :product_price do %>
							      <div class="price">
							      	<span class="price selling"><%= product_price(product) %></span>
							      	<% if product.normal_price > product.price %>
							      	  <span class='price discounted'><%= format_price(product.normal_price) %></span>
							      	<% end %> 
							      </div>
							<% end %>
						</div>
						<div class="ribbon-edge-topright"></div>
						<div class="ribbon-edge-bottomright"></div>
						<div class="ribbon-back-right"></div>
					</div>
				<% end %>
				<div class="content">
					<%= link_to raw(product.name), product %><br/>
					<%= link_to span_tag(t(:read_more)), product, :class => "" %>
				</div>
			</div>
		<% end %>
	<% end %>
	
</div>

<div class="span-9 last">

	<h2 class="box-title">… or <span class="f">refill !</span></h2>
	
	<% content_for :head do %>
		<%= javascript_include_tag 'jquery.rotate' %>
		<script type="text/javascript">
			(function(){
				$(document).ready(function(){
					$(".wheel").radmenu({
						listClass: 'wheel-list', // the list class to look within for items
						itemClass: 'wheel-item', // the items - NOTE: the HTML inside the item is copied into the menu item
						radius: 200, // radius in pixels
						animSpeed:1000, // animation speed in millis
						centerX: 0, // the center x axis offset
						centerY: 33, // the center y axis offset
						selectEvent: "click", // the select event (click)
						onSelect: function($selected){ // show what is returned 
							alert("you clicked on .. " + $selected.index());
						},
						angleOffset: 0, // in degrees
						//rotate: true,
						angleOffset:180
					});
					
					$(".wheel").radmenu('show');
					
					setInterval(function(){
						$(".wheel").radmenu("next");
						//console.log('next');
					}, 1500);
				});
			})(jQuery);
		</script>
	<% end %>
	
	<div id="wheel" class="span-9 last">
		<div class="wheel">
			<ul class="wheel-list">
				<% refill = Product.find_by_param("perfume-refill") %>
				<% refill.variants.active.each_with_index do |v,index|
				  next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products]) %>				  
				  	<li class="wheel-item"><div><%= variant_options v %></div></li>
				<% end %>
			</ul>
		</div>
		<%= link_to t(:view_our_perfumes), refill, :class => 'button' %>
		<%= link_to image_tag("/assets/categories/perfumes/home/refill.png"), refill %>
	</div>
	
</div>
<div class="span-24 last">
</div>

<%= hook :homepage_products do %>
  <%= render "shared/homepage_products", :products => @products %>
<% end %>
