<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title><%= @email_subject %> - <%= Spree::Config[:site_name] %></title>
	<meta name="viewport" content="width = 640"/>
	
	<style type="text/css">
	  #content a { color: #5b8fb1; }
	</style>
	
</head>

<body style="min-width: 500px; margin: 0; padding: 15px; background-color: #ddd; background-image: url(<%= @base_url %>/images/mailer/background.jpg); background-repeat: repeat; font-family: Courier, serif; font-size: 14px; line-height: 19px; color: #575757; -webkit-text-size-adjust: 135%;">

  <table cellpadding="5" cellspacing="0" border="0" align="center" width="600" bgcolor="#fff" style="background-color: #fff; border: 1px solid #e0e0e0;">
    <tr>
      <td height="27" style="height: 27px;"><%= image_tag @base_url + "/images/mailer/airmail.gif", :alt => "Email" %></td>
    </tr>
    <tr>
      <td>
        <table cellpadding="15" cellspacing="0" border="0" align="center" width="100%">      
          <tr>
            <td><%= link_to image_tag(@base_url + "/" + Spree::Config[:logo], :alt => Spree::Config[:site_name], :style => "border: 0"), root_url %></td>
            <td align="right">
              <p><%= l @email.created_at, :format => :normal %></p>
              <p><b><%= t('subject') %>:</b> <%= @email_subject %></p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="font-family: Courier, serif; font-size: 14px; line-height: 19px; color: #575757;">
              <%= yield %>
            </td>
          </tr>
        </table>
        <table cellpadding="15" cellspacing="0" border="0" align="center" width="100%" style="border-top: 1px solid #e0e0e0;">
          <tr>
            <td>
              <p style="font-size: 12px;"><%= t :received_in_error, :site_name => Spree::Config[:site_name] %></p>
              <p style="font-size: 12px;"><%= t('contact') %>: <b><%= mail_to Spree::Config[:contact_email], Spree::Config[:contact_email], :style => "color: #5b8fb1;" %></b></p>
              <p style="font-size: 12px;"><%= t('unsubscribe_text', :site_name => Spree::Config[:site_name]) %> <%= link_to t('click_here'), subscriber_url(@subscriber.token), :style => "color: #5b8fb1;" %></p>
              <h4 style="padding: 10px 0; margin: 0; border-top: 1px solid #e0e0e0;">
                <%= link_to Spree::Config[:site_name], root_url, :style => "color: #5b8fb1;" %>
              </h4>  
              <h5 style="padding: 0; margin: 0;">
                <a href="mailto:<%= Spree::Config[:contact_email] %>" style="color: #5b8fb1;"><%= Spree::Config[:contact_email] %></a>
              </h5>
            </td>
            <td align="right"><%= image_tag @base_url + "/images/mailer/postmark.png", :alt => Spree::Config[:site_name], :style => "margin-right: -50px;" %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table cellpadding="5" cellspacing="0" border="0" align="center" width="600" bgcolor="transparent">
    <tr>
      <td>
        <p style="font-size: 12px">&copy; <%= Time.now.year %> <%= link_to Spree::Config[:site_name], root_url, :style => "color: #5b8fb1;" %></p>
      </td>
      <td align="right">
        <p style="font-size: 12px">
          <% if @link_to_browser %>
            <%= link_to t('click_here'), @link_to_browser, :style => "color: #5b8fb1;" %>
            <%= t('view_in_browser') %>
          <% else %>
	        <%= t('visit_online') %>      
            <%= link_to Spree::Config[:site_url], root_url, :style => "color: #5b8fb1;" %>
          <% end %>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <br/>
        <p style="font-size: 11px; color: #999;"><%= t('message_sent_to_from_on',
                                                       :to => @subscriber.email,
                                                       :from => Spree::Config[:contact_email],
                                                       :on => l(@email.created_at, :format => :long)) %></p>
      </td>
    </tr>
  </table>

</html>
</body>
